#em-booking-submit:hover,
#em_wp-submit:hover,
.kf_new_conf_btn_link a:hover,
.kf_action3_wrap:hover,
.kode-tickets-title a,
.kf_event_member > a,
.clints-brand,
.evt-blog-cols figure,
.evt-blog-cols figure figcaption,
.kode-item.k-content.kode_news_detail .wpcf7-form-control.wpcf7-submit,
.flickr_badge_image a,
.flickr_badge_image img,
.kode-flickr-widget .flickr_badge_image a img,
.kf_event_social li,
.kf_event_social li a{
	transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
}