
/*Top Bar Strip Style Start*/
header.kode_header_5{
	position:relative;
}
header.kode-header-lawyer{
	position:absolute;
	width:100%;
	z-index:99999;
}
.kode-header-lawyer .top-strip{
	width:100%;
	float:left;
	padding: 10px;
	background: rgba(0,0,0,0.5);
}
.kode-header-lawyer .top_contact{
	float:left;	
}
.kode-header-lawyer .top_contact > ul {
	margin:0px;
	padding:0px;	
}
.kode-header-lawyer .top_contact > ul > li,.top_social_icon > ul > li{
	display:inline-block;	
}
.top_social_icon li,
.top_contact li{
	margin-bottom:0px;
}
.top_search{
	float:left;
	position:relative;
}
.top_search a{
	display:inline-block;
	font-size:16px;
	color:#0000000;
	padding:10px;
}
.top_search .search-btn{
	float:left;
	width:50px;
	padding:15px 5px;
	cursor:pointer;
	text-align:center;
}
.top_search .search-btn:hover{
	color:#fff;
}
.top_search .search-field{
	position:absolute;
	right:100%;
	top:0px;
	display:none;
}
.top_search .search-field input[type="text"]{
	height:50px;
	border:solid 1px #CCC;
	padding:6px 10px;
	width:250px;
}
.top_search:hover{
}
.top_search:hover i{
	color:#fff;	
}
.kode_hover_search{
	float:left;
	position:absolute;
	right:15%;
	top:90%;
	width:200px;
	height:30px;
	background-color:#fff;	
}
.kode_hover_search input[type="text"]{
	width:200px;
	height:30px;
	border:0px;
	padding:8px 15px;
	border:1px solid #e37d39;	
}
.kode_hover_search button:hover{
	background-color:#e37d39;	
}
.top_social_icon ul{
	padding:0px;
	margin:0px;
}
.kode-header-lawyer .top_contact > ul > li:first-child{
	padding-left:0px;	
}
.kode-header-lawyer .top_contact > ul > li{
	font-size:14px;
	padding-left:30px;
	color:#fff;
}
.kode-header-lawyer .top_contact > ul > li > i{
	color:#fff;
	margin-right:6px;
	font-size:14px;	
}
.kode-header-lawyer .top_social_icon{
	float:right;	
}
.kode-header-lawyer .top_social_icon > ul > li > a {
	padding-right:20px;	
}
.top_social_icon > ul > li > a > i{
	font-size:14px;
	color:#fff;	
}
.top_search{
	float:left;
}
.kode_btn{
	float:right;
}
.search-field{
	display:none;
}
/*Top Bar Strip Style ends*/

/*Navigation Wrap Style Start*/
.kode-header-lawyer .logo{	
	float:left;	
}
.kode-header-lawyer .navigation_wrap{
	float:left;
	background-color:#fff;
	width:100%;
	padding:20px 0px;	
}
.kode-header-lawyer .menu-wrap{
	float:right;	
}
.kode-header-lawyer .menu-wrap .navbar{
	margin:0px;
	border:0px;
	min-height:0px;	
}
.kode-header-lawyer .menu-wrap .navbar .navbar-collapse{
	padding:0px;	
}
.kode-header-lawyer .menu-wrap .kode-navigation-wrapper,
.kode-header-lawyer .menu-wrap .navbar-default{
	border:0px;
	background-color:transparent;
	float:left;	
}
.kode-header-lawyer .menu-wrap .navbar-default .navbar-collapse{
	border:0px;	
}
.kode-header-lawyer .navigation{
	float:left;	
}
.kode_header_5.kode-header-lawyer .navigation{
	float:right;	
}
.kode-header-lawyer .navigation ul{
	float:left;
	width:100%
}
.kode-header-lawyer .navigation ul li{
	position:relative;
	display:inline-block;	
}

.kode-header-lawyer .navigation ul li a{
	display:block;
	font-size:16px;
	color:#111111;
	padding:17px 20px;	
}
.kode-header-lawyer .navigation ul li a{
	outline:solid 1px transparent;
	outline-offset:10px;
}
.kode-header-lawyer .navigation ul li:hover a{
	outline-offset:-5px;
}
.kode-header-lawyer .navigation ul ul{
	position:absolute;
	width:200px;
	top:100%;
	left:0px;
	visibility:hidden;
	opacity:0;
	padding:40px 0px 0px 0px;
}
.kode-header-lawyer .navigation ul ul:before{
	content:"";
	height:20px;
	width:20px;
	background-color:#fff;
	transform:rotate(45deg);
	position:absolute;
	left:32px;
	top:7px;
}
header.kode_header_5 .navigation ul ul:before, .kode_header_3 .navigation ul ul:before{
	display: none;
}
header.kode_header_5 .navigation ul ul, .kode_header_3 .navigation ul ul{
	padding: 10px 0px 0px 0px;
}
.kode-header-lawyer .navigation ul ul li{
	width:100%;
	background-color:#fff;
}
.kode-header-lawyer .navigation ul ul li a{
	padding:10px 20px;
	outline:none;
}
.kode-header-lawyer .navigation ul > li:hover > ul{
	opacity:1;
	visibility:visible;	
}
.kode-header-lawyer .navigation ul ul li a:hover{
	color:#fff;
}
.kode-header-lawyer .kode_nav_1 ul.nav.navbar-nav > li:hover > a span{
	color:#eee !important;
}
.kode_nav_1 ul.nav.navbar-nav > li:hover > a{
	color:#fff !important;
}
.kode-header-lawyer .navigation ul ul li ul{
	position:absolute;
	top:0;
	left:100%;
	visibility:hidden;
	opacity:0;	
}
.kode-header-lawyer .navigation ul ul li:hover > ul{
	visibility:visible;
	opacity:1;	
}


/*
	  =============================
		   Header 3 Style
	  =============================
*/
.kode_header_3 .kode_top_strip2{
	background-color:#313131;	
}
.kode_header_3 .kode_social_icon{
	float:right;
	width:auto;
	padding-top:0px;	
}
.kode_header_3 .kode_social_icon ul li a{
	padding:0px 15px;
	display:inline-block;	
}
.kode_header_3 .kode_social_icon ul li a i{
	border:0px;
	width:0px;
	height:0px;	
}
.kode_header_3 .kode_social_icon ul li:hover a i{
	color:#e9d10b;	
}
.kode_header_3.header4_bg .navigation{
	float:right;
}
/*Navigation Style*/
.kode_header_3 .kode_nav_1{
	background:#fff;
	box-shadow:0 4px 2px 0 rgba(0, 0, 0, 0.23);
}
.kode_header_3 .kode_nav_1 .navbar-default{
	float:right;	
}
.kode_header_3 .kode_nav_1 ul > li > a{
	padding:35px 21px;
	font-weight:normal;
	font-size:16px;
	border-left:1px solid #dcdcdc;
	text-align:center;	
}
.kode_header_3 .kode_nav_1 ul li a span{
	display:block;
	font-size:13px;
	text-transform:capitalize;
	color:#f37936;	
	margin-top:6px;
}
.kode_header_3 .kode_nav_1 ul li:last-child a{
	border-right:1px solid #dcdcdc;	
}
.kode_header_3 .kode_nav_1 .navbar-default .navbar-nav > li.active > a,.kode_header_3 .kode_nav_1 .navbar-default .navbar-nav > li > a:focus, .kode_header_3 .kode_nav_1 .navbar-default .navbar-nav > li > a:hover{
	color:#2b2b2b;	
}


.kode_top_strip2{
	width:100%;
	float:left;
	background-color:#e9d10b;
	padding:10px 0px;	
}
.kode_top_strip2 .kode_loc{
	padding:0px;	
}
.kode_contact_icon{
	float:right;	
}
.kode_contact_icon ul li{
	float:right;
	padding:0px 12px;
	font-size:16px;	
}
.kode_contact_icon ul li i{
	margin-right:10px;	
}
.kode_contact_icon ul li:first-child{
	padding-right:0px;	
}

/*Logo Here*/
.kode_logo_2{
	float:left;
	width:275px;	
}
.kode_logo_2 a{
	display:block;	
}


/*
	  =============================
		   Header 5 Style
	  =============================
*/
.kode_header_5 .kode_top_strip2{
	background-color:#fff;
	padding:0px;
	border-bottom:1px solid #d3d3d3;	
}
.kode_coun{
	float:left;	
}
.kode_coun .dropdown, .dropup{
	float:left;
	padding:19px 5px 0px 0px;
}
.kode_coun .btn-default{
	background:none;
	border:0px;
	color:#2b2b2b;
	font-weight:bold;
	padding:0px 10px;	
}
.kode_coun .btn-default i{
	margin-left:10px;	
}
.kode_coun .btn-default.active, .kode_coun .btn-default:active, .kode_coun .open > .dropdown-toggle.btn-default{
	background-color:#f37936;
	border:0px;
	color:#fff;	
}
.kode_coun .dropdown-menu > li > a:focus, .kode_coun .dropdown-menu > li > a:hover{
	color:#fff;
	background-color:#f37936;	
}
.kode_coun p{
	margin:0px;
	float:left;
	padding:20px 0px 18px 20px;
	border-left:1px solid #dcdcdc;	
}
.kode_coun p span{
	display:inline-block;
	color:#f37936;		
}
/*Social Icon Style*/
.kode_header_5 .kode_social_icon{
	float:right;
	width:auto;
	padding:18px 0px 0px;	
}
.kode_header_5 .kode_social_icon ul li a{
	color:#666666;
	padding:0px 20px;
	margin:0px;
}
.kode_header_5 .kode_social_icon ul li a i{
	border:0px;
	width:0px;
	height:0px;	
}
.kode_header_5 .kode_social_icon ul li:hover a i,.kode_cart_wrap ul li:hover a{
	color:#f37936;	
}
/*Cart Text Style*/
.kode_cart_wrap{
	float:right;	
}
.kode_cart_wrap ul{
	margin:0px;
}
.kode_cart_wrap ul li{
	float:right;
	padding:21px 21px;
	color:#2b2b2b;
	list-style:none;
	border-right:1px solid #dcdcdc; 	
	margin-bottom:0px;
}
.kode_cart_wrap ul li a i{
	margin-right:10px;	
}
/*Logo Style*/
.kode_header_5 .kode_logo_2{
	width:240px;
	padding:30px 0px 0px 0px;	
}
/*Navigation Style Start*/
.kode_header_5 .kode_nav_1{
	background-color:#fff;
	box-shadow:0 4px 2px 0 rgba(0, 0, 0, 0.23);	
}
.kode_header_5 .kode_nav_1 .navbar{
	float:right;	
}
.kode_header_5 .kode_nav_1 .navigation ul > li > a{
	font-weight:normal;
	padding:40px 18px;
	font-size:14px;
	margin-top:-2px;
	border-top:1px solid transparent;
}
.kode_header_5  .kode_nav_link ul li a{
	font-weight:400;	
}
.kode_header_5 .kode_nav_1 .navigation > li.active > a,.kode_header_5 .kode_nav_1 .navigation > li > a:focus, .kode_header_5 .kode_nav_1 .navigation > li > a:hover{
	color:#f37936;
	border-top:1px solid #f37936;	
}
/*Search Style*/
.kode-header-lawyer .kode_search{
	float:right;	
}
.kode-header-lawyer .kode_search a{
	color:#2b2b2b;
	font-size:14px;	
}
/*Search Style*/
.kode-header-lawyer .kode_search,.kode-header-lawyer .kode_cart_fill{
	float:right;
	position:relative;
}
.kode-header-lawyer .kode_search a,.kode-header-lawyer  .kode_cart_fill a{
	display:inline-block;
	color:#2b2b2b;
	font-size:14px;
	font-weight:normal;	
	padding:20px 12px;
}
/*Cart Style*/
.kode-header-lawyer .kode_cart_fill span{
	position:absolute;
	color:#fff;
	background-color:#f37936;
	border-radius:100%;
	padding:0px 5px;
	top:30%;
	right:0px;
	font-size:12px;
	font-weight:bold;	
}

/*Social Icon Style*/
.kode_social_icon{
	width:100%;
	float:right;
	padding-top:20px;
	text-align:center;	
}
.kode_social_icon ul{
	list-style:none;
}
.kode_social_icon ul li{
	float:right;	
}
.kode_social_icon ul li a{
	display:inline-block;
	color:#fff;
	margin-right:10px;
	font-weight:bold;		
}
.kode_social_icon ul li a i{
	border:1px solid #fff;
	border-radius:100%;
	width:30px;
	height:30px;
	padding-top:7px;	
}
.kode_social_icon ul li:hover a i{
	background-color:#e9d10b;
	color:#111111;	
}
.kode_social_icon ul li:first-child a{
	margin:0px;	
}

.kode_header_5.kode-header-lawyer{
	position:relative;
}

