#group-dir-search > label,
#search-members-form > label {
    float: left;
    width: 91%;
}
#search-members-form > input#members_search_submit {
    clear: none !important;
    float: right;
    margin: 0;    
}
#search-members-form{
	width:100%;
	float:left;
}
#buddypress div.dir-search{
	width:100%;
	margin:0px;
}
#buddypress div.dir-search input[type="text"], #buddypress li.groups-members-search input[type="text"]{
	width:100% !important;
}
#groups-directory-form div.item-list-tabs,
#members-directory-form .item-list-tabs{
	float:left;
	clear:none !important;
	margin:20px 0px;
}
#buddypress .dir-form{
	margin-bottom:30px;
}
#buddypress ul.item-list li div.item-desc{
margin:0px;
}
#groups-directory-form #subnav,
#members-directory-form #subnav{
	float:right;
	margin:0px;
}
#buddypress div#subnav.item-list-tabs{
	margin:0px;
}
#item-header-avatar{
	float: left;
}
#buddypress div#item-header{
	padding: 20px;
	border: solid 1px #ccc;
	margin: 0px 0px 30px 0px;
}
#buddypress div#item-header div#item-header-content{
	float: none;
	padding:0px 0px 0px 170px;
}
#buddypress div#item-header img.avatar{
	margin: 0px;
}
#buddypress #item-nav {
    background: ghostwhite none repeat scroll 0 0;
    padding: 30px 10px;
    text-align: center;
}
#buddypress div.item-list-tabs ul li{
	display:inline-block;
	float:none;
}
#buddypress div#subnav.item-list-tabs ul li {
    margin: 22px 0px;
}
#buddypress #item-body{
	width:100%;
	float:left;
}
#buddypress #item-body div.activity{
	margin-bottom:30px;
}
.bp-single-group .item {
    float: left;
    width: 94%;
}
#buddypress div.item-list-tabs ul li.current a, #buddypress div.item-list-tabs ul li.selected a{
	color: #fff;
}
#buddypress div.item-list-tabs ul li a, #buddypress div.item-list-tabs ul li span{
	border: solid 1px #eaeaea;
	margin:0px 5px;
	border-radius: 5px;
}
#buddypress div.item-list-tabs ul li a span{
	font-size: 10px;
	margin-top: -2px;
	padding: 1px 6px;
	display: inline-block;
}
#buddypress form#whats-new-form textarea{
	width: 100%;
	float: left;
}
#buddypress form#whats-new-form p.activity-greeting{
	width: auto;
	margin: 0px 0px 15px 70px;
	float: none;
}
#buddypress form#whats-new-form #whats-new-content{
	padding: 0px 0px 0px 70px;
	margin: -30px 0px 30px 0px;
	float: left;
	width: 100%;
}
#whats-new-content #whats-new-options{
	float: left;
	width: 100%
}
#whats-new-textarea{
	float: left;
	width: 100%;
}
#buddypress .comment-reply-link, #buddypress a.button, #buddypress button, #buddypress div.generic-button a, #buddypress input[type="button"], #buddypress input[type="reset"], #buddypress input[type="submit"], #buddypress ul.button-nav li a, a.bp-title-button{
	display: inline-block;
	padding: 10px 20px;
	border-radius: 0px;
	border: none;
	color: #fff !important;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}
#buddypress .comment-reply-link:hover, #buddypress a.button:focus, #buddypress a.button:hover, #buddypress button:hover, #buddypress div.generic-button a:hover, #buddypress input[type="button"]:hover, #buddypress input[type="reset"]:hover, #buddypress input[type="submit"]:hover, #buddypress ul.button-nav li a:hover, #buddypress ul.button-nav li.current a{
	border: none;
	background-color: #000;
	color: #fff;
}
#buddypress #reply-title small a span, #buddypress a.bp-primary-action span{
	background-color: #000
}
.messages-options-nav{
	margin-bottom: 20px;
}
.messages-options-nav select, .notifications-options-nav select{
	margin-bottom: 10px;
}


input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{
	height: 50px;
}

#buddypress table#message-threads tr.unread td{
	background-color: #f5f5f5;
}
#settings-form{
	margin-bottom: 20px;
}

#buddypress table.notification-settings{
	float: left;
	width: 100%;
}
#buddypress table.forum thead tr, #buddypress table.messages-notices thead tr, #buddypress table.notifications thead tr, #buddypress table.notifications-settings thead tr, #buddypress table.profile-fields thead tr, #buddypress table.profile-settings thead tr, #buddypress table.wp-profile-fields thead tr{
	color: #fff;
}
#buddypress table#message-threads tr.unread td{
	border-color: #d8d6d6 ;
}
#buddypress table.forum, #buddypress table.messages-notices, #buddypress table.notifications, #buddypress table.notifications-settings, #buddypress table.profile-fields, #buddypress table.profile-settings, #buddypress table.wp-profile-fields{
	border-collapse: collapse;
}
#message-threads thead th.thread-star .message-action-star span.icon::before{
	color: #fff;
}
#message-threads  tbody td.thread-star{
 	text-align: center;
 	color: #333;
}
#buddypress div.message-search{
	float: left;
	width: 100%;
	padding: 10px 10px;
	margin: 20px 0px;
	text-align: right;
	background-color: #f2f2f2;
	border: solid 1px #e9e9e9 ;
	position: relative;
}
#buddypress div.message-search:before{
	content: "";
	height: 15px;
	width: 15px;
	background-color: #f2f2f2;
	transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: -7px;
	margin: auto;
}
#buddypress div.message-search input[type="text"]{
	width: 100%;
}
#buddypress div.message-search input[type="submit"]{
	position: absolute;
	right: 10px;
	top: 10px;
}
#buddypress table.profile-fields{
	float: left;
	width: 100%;
	margin-bottom: 30px !important;
}
#buddypress table.profile-fields td.label{
	width: auto;
	float: none;
	color: #777777;
	font-size: inherit;
	display: table-cell;
	text-align: left;
}
#buddypress .standard-form input[type="submit"]:focus{

}
#buddypress div#message{
	float:left;
	width: 100%;
	margin: 20px 0 0;
}
#buddypress div#message p{
	margin-bottom: 0px;
}
#buddypress .standard-form input[type="text"], #buddypress .standard-form textarea{
	width: 100%;
}
ul.acfb-holder li.friend-tab{
	padding: 6px 10px !important;
	height: 36px;
}
ul.acfb-holder li.friend-tab span img{
	margin-right:5px; 
}
#buddypress .standard-form div.submit{
	padding: 15px 0px;
}
.kode-admin-post{
	margin: 30px 0px;
}
#buddypress div#item-header div#item-actions h3{
	display: inline;
}
#buddypress div#item-header ul{
	float: right;
	width: auto;
	margin: 0px 0px 0px 20px;
}
#buddypress div#item-header div#item-meta{
	width: 100%;
	font-size: 100%;
}
/*background color*/
#buddypress div.item-list-tabs ul li.current a, #buddypress div.item-list-tabs ul li.selected a, 
#buddypress .comment-reply-link, #buddypress a.button, #buddypress button, #buddypress div.generic-button a, #buddypress input[type="button"], #buddypress input[type="reset"], #buddypress input[type="submit"], #buddypress ul.button-nav li a, a.bp-title-button, #buddypress table.forum thead tr, #buddypress table.messages-notices thead tr, #buddypress table.notifications thead tr, #buddypress table.notifications-settings thead tr, #buddypress table.profile-fields thead tr, #buddypress table.profile-settings thead tr, #buddypress table.wp-profile-fields thead tr, #buddypress .standard-form input[type="submit"]:focus{
	background-color: #ee6c6c;
}

#buddypress div.item-list-tabs ul li.current a, #buddypress div.item-list-tabs ul li.selected a{
	border-color: #ee6c6c;

}