/*
=================================================
				UP FROM 1580PX
=================================================
*/ 
@media only screen and (max-width: 1580px){
	.button-member{display:none;}
	.kode-content{
		padding:130px 0;
	}
	.header-social{
		padding:31px 30px 0 0;
	}
	
}


/*
=================================================
				UP FROM 1200PX
=================================================
*/ 
@media (max-width: 1200px) {
	 .header-social li{
		margin:0 4px; 
	 }
	 .kode-nav ul li a{
		padding:37px 8px; 
	 }
}
/*
=================================================
			FROM 992PX TO 1199PX
=================================================
*/ 
@media (min-width: 992px) and (max-width: 1199px) {
	/*Banner Style*/
	.kode-caption-inner{
		margin:-110px 0 0;	
	}
	.kode-caption-inner h2{
		font-size:40px !important;
		line-height:45px;	
	}
	.kode-nav ul li a{
		font-size:12px;
	}
	.kode-content h2{
		font-size:40px;
		line-height:54px;
	}
	.kode-content .overflow{
		margin:-60px 0 10px;
	}
	.kode-content p{
		margin:0 0 10px;
	}
	.button-holder .button{
		padding:10px 10px;
	}
	.kf_accordian_hdg{
		padding:15px 20px;
	}
	.kf_accordian_hdg h5{
		font-size:16px;
	}
	.kode-blog-newcontent .meta-event{
		font-size:13px;
		margin-bottom:10px;
	}
	.our-team-first{
		background-position:right bottom;
	}
	.kf_who_am_des ul{
		width:100%;
	}
	.kf_who_am_des > ul > li > span, .kf_who_am_des > ul > li > a{
		float:left;
	}
	ul.kf_conference li{
		padding:10px;
		font-size:12px;
	}
	.kf_comment_meta > span{
		margin:0px 10px 10px 0px;
	}
	.like_fb, .like_amount{
		margin-right:15px;
		font-size:12px;
	}
	.kf_aside_folwer ul li{
		padding:20px;
	}
	.like_page a{
		font-size:12px;
	}
	.kode-blog-2 .kode-thumb-caption::after{
		width:200px;
	}
	.kode-health-over li{
		font-size:16px;
	}
	.counter-meta{
		max-width:100%;
	}
	.speaker-event-content ul a{
		height:30px;
		width:30px;
		padding:0px;
		font-size:14px;
		line-height:30px;
	}
	.kode_calender .fc-toolbar h2{
		font-size:14px;
		margin-top:5px;
	}
	.caption-info h5{
		font-size:14px;
	}
	.caption-info span{
		font-size:14px;
	}
	.count-down-timer .countdown li{
		padding:9px 9px 0;
	}
	.kode-logo{
		margin:0 20px 0 20px;
	}
	.header-social{
		padding:31px 20px 0 0;
	}
	
	.kode-slider-content{
		width:630px;
	}
	/*Gallery Page Style*/
	.kode_fortfolio_detail .caption-holder{
		padding:70px 5px;	
	}
	.count-down-timer .downcount{
		padding:24px 0 34px 0px;	
	}
	.count-down-timer .caption-info::after{
		display:none;	
	}
	.event-borders::before,
	.event-slider-box::after{
		display:none;	
	}
	.kode-footer-text{
		position:staic;
		background-color:#333;	
	}
	.kode-footer-text .col-lg-6.col-md-6.col-sm-9.col-xs-12.footer-cols {
		width:100% !important;	
	}
	.count-down-timer .caption-info::before{
		display:none;	
	}
	/*New Header*/
	.kf_pet_navigation ul li a{
		padding-left:8px !important;
		padding-right:8px !important;	
	}
	.evt-blog-cols figure figcaption a{
		padding: 6px 10px;
	}
	.evt-blog-cols:hover figure figcaption{
		right: 25px;
		top: 25px;
	}
	.scheduletabs .nav-tabs > li > a span{
		font-size: 22px;
	}
	.evt-blog-cols figure figcaption{
		width: 60%;
	}
}
/*
=================================================
			FROM 0PX TO 979PX
=================================================
*/ 
@media (max-width: 991px) {
	/*navigation Style*/
	.dl-menuwrapper{
		margin:0px 0px 23px 0px;
		width:100%;
	}
	.kode-responsive-navigation{
		display:block;	
	}
	.dl-menuwrapper .dl-menu{
		left:0px;
		right:0px;
		margin:auto;
	}
	#kode-header{
		position:relative;	
	}
	#mobile-header{
		display:block;
	}
	.kode-nav{
		display:none;
	}
	.kode-logo{
		display:inline-block;
		float:none;
		padding-top:0px;
	}
	.col-right{
		float:left;
		width:100%;
	}
	.header-social{
		padding:0px;
		float:none;
		display:inline-block;
	}
	#kode-header{
		text-align:center;
		border:none;
		background-color:#333;
		padding:15px 0px;
	}
	/*Banner Style*/
	.kode-caption-inner{
		margin:-140px 0 0;	
	}
	.kode-caption-inner .overflow{
		margin:-58px 0 20px;	
	}
	.kode-caption-inner h2{
		font-size:35px !important;
		line-height:50px;	
	}
	/*Counter Style*/
	.facts-counter{
		width:50%;
		float:left;	
	}
	/*Time Counter Style*/
	.next-event-counter .downcount li{
		margin:0 4px;
		width:90px;	
	}
	.next-event-counter h2{
		font-size:34px !important;	
	}
	.next-event-counter .downcount li span{
		padding:0px;	
	}
	/*Speaker Style*/
	.kode-newspeaker{
		margin:0px 0px 30px;	
	}
	/*Price Table*/
	.price-box-frame{
		margin:0px 0px 30px;	
	}
	.Kode-page-heading{
		padding:15px 0px;
	}
	.event-slider-box, .event-boxslider{
		width:100%;
		padding:0;
		border:none;
		height:auto;
	}
	.event-slider-box:after, .event-borders{
		display:none;
	}
	.event-boxslider{
		position:static;
	}
	.bx-wrapper img{
		max-width:100%;
		width:100%;
	}
	.kode-content h2{
		font-size:30px;
	}
	.kode-content .overflow{
		margin:0px 0px 20px 0px;
	}
	.kode-content p{
		display:none;
	}
	.kode-slider-content{
		width:550px;
	}
	.kode-content{
		padding:170px 0 0;
	}
	.register-holder{
		position:static;
		background-color:#ccc;
		float:left;
		width:100%;
	}
	.register-button{
		width:100%;
	}
	.kode-slider .bx-wrapper .bx-pager, .kode-slider .bx-wrapper .bx-controls-auto{
		bottom:25%;
	}
	.icon-srvc{
		height:65px;
		width:65px;
		margin-right:20px;
		padding:16px 0px;
		font-size:30px;
	}
	.kode-overview-holder:before, .kode-overview-holder:after{
		opacity:0.1;
	}
	.scheduletabs .panel.panel-default{
		padding:10px 0px;
	}
	.next-event-counter .countdown li{
		width:75px;
	}
	.next-event-counter .countdown li span{
		font-size:28px;
		padding:0px;
	}
	.next-event-counter .countdown li p{
		font-size:12px;
		margin:0px;
	}
	#main .next-event-counter h2{
		font-size:30px;
	}
	.kode-price-header h3{
		font-size:40px;
		line-height:40px;
	}
	.kode-price-header{
		font-size:14px;
		padding:20px 0px;
	}
	.kode-price-content{
		font-size:14px;
		padding:20px 10px;
	}
	.kode-price-content li{
		padding:10px 0px;
	}
	.kode-price-footer{
		padding:18px 0px;
	}
	.price-box-frame.first-box, .price-box-frame.last-box{
		padding:0px;
	}
	.price-box-frame.first-box:before, .price-box-frame.last-box:after{
		display:none;
	}
	.kodeevent-blog-post{
		margin:0px 0px 30px 0px;
	}
	.kode-error > h4{
		font-size:20px;
	}
	.kode-error > p{
		text-transform:none;
	}
	.filter-item{
		font-size:14px;
	}
	.our-team-second .our-speaker-social-section, .our-team-first .our-speaker-social-section{
		padding:70px 0px;
	}
	.our-team-first{
		background-position:right 80px;
		background-size:contain;
	}
	.our-team-second{
		background-position:left 80px;
		background-size:contain;
	}
	.our-team-second .our-speaker-social-section, .our-team-first .our-speaker-social-section{
		width:60%;
	}
	.kf_who_am figure{
		width:100%;
		margin-bottom:30px;
	}
	.kf_who_am_des{
		float:left;
		width:100%;
		padding:0px;
	}
	.kf_who_am_des ul{
		width:100%;
	}
	ul.kf_conference li{
		width:33.333%;
	}
	.counter-meta{
		float:left;
		max-width:100%;
		width:100%;
	}
	.kode-slider-speaker .thumb{
		margin:0px 0px 30px 0px;
	}
	
	.kode-logo{
		margin:0px;
	}
	.kode-tickets-title div, .ticket-section ul li{
		width:25%;
		float:left;
	}
	/*About us page*/
	#kode-parallax-wrapper-2::after{
		width:100%;
		z-index:-1; 
  	}
	/*Footer Style*/
	.kode-footer-text .row{
		margin:0px;	
	}
	.footer-cols::before{
		right:-200px;	
	}
	.kode-footer-text{
		position:relative;	
	}
	.kode-footer-text .footer-cols{
		width:100% !important;
		padding:60px 0px !important;	
	}
	.event-map{
		width:100%;
	}
	.kode-widget{
		margin:0px 0px 10px 0px;
	}
	.register-holder{
		background: none;
		
	}
	.register-holder, .register-button{
		height: auto;
		float: left;
		width: 100%;
	}
	.kode-register-detail-right ul.downcount li{
		margin: 0 4px;
	}
	.kode-register-detail-right ul.downcount{
		margin: 14px 10px 14px 0;		
	}
	.register-time{
		width: 70px;
	}
	.register-content{
		padding: 14px 10px;
	}
	/*New Header*/
	.kf_pet_navigation{
		display:none;	
	}
	.kf_pet_logo_nav .dl-menuwrapper{
		width:auto;
		float:right;
		margin-top:34px;	
	}
	.kf_pet_logo_nav .dl-menuwrapper .dl-menu{
		left:auto;	
	}
	/*New Conference Schedule Style*/
	.kf_new_con_wrap{
		padding:20px 30px 0 60px !important;	
	}
	.kf_new_conf_time{
		width:100% !important;	
	}
	.kf_new_conf_des_wrap{
		width:100% !important;	
	}
	.kf_new_conf_des_wrap::before{
		top:-17px !important;	
	}
	.kf_new_conf_des_wrap::after{
		top:1px !important;	
	}
	.tab-pane .kf_new_con_wrap:last-child .kf_new_conf_des_wrap::after{
		bottom:32px !important;	
	}
	.kf_new_conf_orgnizr{
		width:100% !important;
		margin-bottom:10px !important;	
	}
	.kf_new_conf_btn_link{
		width:100% !important;	
	}
	#kode-parallax-wrapper-2::after{
		display: none;
	}
	.kf_event_footer_nav ul li a{
		font-size: 14px;
		padding: 0px 6px !important;
	}
}
/*
=================================================
			FROM 768PX TO 979PX
=================================================
*/

@media (min-width: 768px) and (max-width: 979px) {
	
	.kf_testimonial_des p::before{
		top:-55px;
		left:-10px;	
	}
	.our-team-first .our-speaker-social-section{
		text-align:right;	
	}
	.our-team-first .our-speaker-social-section ul li{
		float:none;
		display:inline-block;
		text-align:right;	
	}
		/*Footer Style*/
		.kode-footer-text{
		position:staic;
		background-color:#333;	
	}
	.kode-footer-text .col-lg-6.col-md-6.col-sm-9.col-xs-12.footer-cols {
		width:100% !important;	
	}
	.event-map{
		width:100%;
		z-index:99;
	}
	.kode-widget{
		margin:10px !important;
	}
	.evt-blog-cols{
		margin-bottom:30px;	
	}
}
/*
=================================================
			FROM 0PX TO 767PX
=================================================
*/
@media (max-width: 767px) {
	#kode-header{
		position:relative;
	}
	/*Banner Style*/
	.kode-caption-inner{
		margin:-95px 0 0;	
	}
	.register-holder{
		float:left;
		width:100%;	
	}
	.kode-content{
		padding:50px 0px 0px 0px;
	}
	.kode-slider-content{
		width:90%;
	}
	.kode-content h2{
		line-height:normal;
	}
	.kode-content h3{
		font-size:16px;
		line-height:normal;
	}
	.button-holder{
		display:none;
	}
	.register-content{
		float:left;
		padding:20px 20px 18px;
	}
	.kode-overview-holder::before, .kode-overview-holder::after{
		display:none;
	}
	.facts-counter{
		width:50%;	
	}
	.facts-counter .icons-wrap{
		font-size:40px;
	}
	.kf_counter .counter{
		font-size:42px;
		line-height:46px;
	}
	.kf_counter span{
		font-size:14px;
	}
	.kf_counter{
		text-align:left;
		padding:0 0 0 75px;
	}
	.kf_counter span{
		text-align:left;
	}
	.next-event-counter .downcount li{
		margin:0 4px 10px;	
	}
	.kf_heading_2 h3, .kf_heading_4 h3{
		font-size:24px;
	}
	.facts-row h3{
		font-size:24px;
	}
	.kf_heading_1 h2{
		font-size:24px;
	}
	.button-slide{
		position:absolute;
		right:0px;
		top:-10px;
	}
	.scheduletabs .nav-tabs > li{
		width:25%;
	}
	.scheduletabs .nav-tabs > li > a{
		font-size:14px;
		min-width:inherit;
		padding:0px;
	}
	.scheduletabs .nav-tabs > li > a span{
		font-size:18px;
	}
	.auditorium li{
		width:33.333%;
		min-width:inherit;
	}
	.auditorium {
		font-size:14px;
		line-height:50px;
	}
	.kf_faq_banner .bx-wrapper .bx-controls-direction{
		bottom:-15px;	
	}
	.scheduletabs .panel-group .panel-heading + .panel-collapse > .panel-body{
		padding:15px 15px 15px 55px;	
	}
	.announcer-pic{
		margin:0px 10px 0px 0px;
	}
	.scheduletabs .panel-title{
		font-size:20px;
	}
	.scheduletabs .tab-content{
		padding:10px 20px;
	}
	.panel-heading, .panel-body	{
		padding:0px;
	}
	.scheduletabs .panel-title{
		margin:0px 0px 10px 0px;
	}
	.scheduletabs{
		margin:0px;
	}
	.content-blue{
		min-height:200px;
		padding:50px 10px 30px;
	}
	.next-event-counter{
		padding:30px 0;
	}
	#kode-speaker-causel .owl-controls .owl-buttons div{
		top:-50px;
	}
	#kode-testimonial-causel .owl-controls .owl-buttons div{
		top:-50px;
	}
	.kode-price-box.active, .kode-price-box{
		margin:0px 0px 30px 0px;
	}
	.kode-price-box.active, .kode-price-box:hover{
		transform:none;
		-moz-transform:none;
		-webkit-transform:none;
	}
	.kode-footer-text{
		position:static;
	}
	footer .event-map{
		display:none;
	}
	.footer-cols, .kode-event-contact, .kode-latest-blog, .kf_faq_bg, .kode-event-testimonial, .kode-our-pricing, .kode-our-gallery, .kode-speaker-frame, .kode-conference-schedule, .kode-main-services, .kode-overview-holder{
		padding:30px 0px;
	}
	.overview_caption{
		width:100%;
	}
	.overview{
		background-color:#f2f2f2 ;
	}
	.overview:before, .overview:after{
		display:none;
		
	}
	.overview .overview_caption ul li{
		padding:15px 0px;
	}
	.kode-error > h3{
		font-size:150px;
	}
	.kode-error > p{
		width:auto;
	}
	.kode-error > a{
		margin-bottom:20px;
	}
	.filter-item li a{
		font-size:12px;
		padding:7px 10px;
	}
	.filter-item li{
		margin:0px 2px;
	}
	.our-team-second .our-speaker-social-section, .our-team-first .our-speaker-social-section{
		padding:30px 0px;
	}
	.our-team-second .our-speaker-social-section > h3, .our-team-first .our-speaker-social-section > h3{
		font-size:26px;
	}
	.our-team-second .our-speaker-social-section > span, .our-team-first .our-speaker-social-section > span{
		margin:0px 0px 10px 0px;
	}
	.our-team-second .our-speaker-social-section > p, .our-team-first .our-speaker-social-section > p{
		font-size:14px;
	}
	.kode-slider-content .overflow{
		display:none;
	}
	.Kode-page-heading .container .row .col-md-6.col-sm-6{
		width:auto;
		float:right;
	}
	.Kode-page-heading .container .row .col-md-6.col-sm-6:first-child{
		float:left;
	}
	.kf_accordian_hdg{
		padding:15px 20px;
	}
	.sub-header{
		left:0px;
		top:0px;
	}
	.kf_comment ul ul{
		padding-left:20px;
	}
	.kf_admin_comment{
		margin-bottom:20px;
	}
	.kf_comment_des > ul > li > a{
		padding:0px 8px;
	}
	.kf_comment_des > a{
		font-size:12px;
		line-height:14px;
	}
	.kf_reply_field{
	}
	.count-down-timer .countdown{
		float:left;
		width:100%;
		padding:15px;
		text-align:center;
	}
	.count-down-timer .countdown li{
		float:none;
		display:inline-block;
	}
	.caption-info{
		float:left;
		width:100%;
		padding:15px;
	}
	.caption-info:after, .caption-info:before{
		display:none;
	}
	.kode-content h2{
		font-size:20px;
	}
	.kf_heading_2{
		padding:0px 20px;	
	}
	.kode_event_list{
		margin:0px 0px 30px;	
	}
	.kf_pagination .pagination li{
		width:100%;	
	}
		/*Navigation Issue*/
	.dl-menuwrapper{
			
	}
	/*SideBar Style*/
	.commentlist .thumblist .text{
		width:100% !important;
		float:left !important;
		text-align:left !important;
		padding:0  20px 0px 0px !important;	
	}
	.like_fb, .like_amount, .like_page{
		width:100% !important;
		display:inline-block !important;
		float:none !important;
		text-align:center !important;
	}
	.like_fb, .like_amount{
		margin-bottom:15px !important;	
	}
	ul.kf_conference li{
		width:100% !important;
		border-bottom:1px solid #eaeaea;	
	}
	ul.kf_conference li:last-child{
		border-bottom:0px;	
	}
	.kode-comments-area ul.commentlist ul.children{
		padding:0 0 0 30px !important;	
	}
	.comment-form p{
		width:100% !important;	
	}
	.kf_connect ul li{
		margin-bottom:15px !important;	
	}
	/*404 Page*/
	.kode-error > h3{
		font-size:100px !important;	
	}
	.kode-error > h4{
		font-size:20px !important;	
	}
	.kode-event-blog3{
		padding:0px 20px;	
	}
	.kf_testimonial_des p::before{
		top:-50px;
		left:10px;	
	}
	.kode-register-detail-left{
		background: rgba(0,0,0,0.1);
		padding: 10px 0px;
	}
	.kode-register-detail-left, .kode-register-detail-right{
		float: left;
		width: 100%;
		text-align: center;
	}
	.kode-register-detail-right ul.downcount{
		margin: 10px 0px;
		padding: 0px 20px;
		float: left;
		width: 100%;
	}
	.kode-register-detail-right ul.downcount li{
		display: inline-block;
		float: none;
	}
	.register-content, .register-time{
		display: inline-block;
		float: none;
		vertical-align: top;
		background: no-repeat;

	}
	.register-content{
		padding: 14px 0px
	}
	.kf_action8_wrap span{
		display: inline-block;
		float: none !important;
		margin: 0px 0px 15px 0px;
	}
	.kf_action8_wrap{
		text-align: center;
		margin-bottom: 30px;
	}
	.kf_action8_des{
		width: 100%;
	}
	.kf_action8_des h2, .kf_action8_des h6{
		display: block;
		text-align: center;
		float: none;
	}
	.evt-blog-cols{
		margin-bottom:30px;	
	}
	/*New Conference Style*/
	.kf_new_conf_btn_link a{
		margin-bottom:10px !important;	
	}
	.kf_pet_ui_element{
		display: none;
	}
	.kode-gallery ul.kode-item{
	padding: 0px 20px; 

	}
	#kode-header{
		padding: 20px;
	}
	#kode-header .kode-logo{
		padding: 0px;

	}
	#kode-header .dl-menuwrapper{
		margin: 7px 0px 0px 0px;

	}
	.tab-style-2 .scheduletabs{
		margin: 0px !important;
	}
}
/*
=================================================
			FROM 0PX TO 480PX
=================================================
*/
@media (max-width: 480px) {
	#mobile-header{
		left:20px;
	}
	.kode-content h2{
		font-size:20px;
	}
	.kode-slider-content{
		width:70%;
	}
	/*Banner Style*/
	.kode-caption-inner{
		margin:-45px 0 0;	
	}
	.kode-caption-inner h2{
		font-size:20px !important;
		line-height:28px;	
	}
	.kode-caption-inner p{
		display:none;	
	}
	.register-holder{
		position:relative;
		float:left;	
	}
	.register-content{
		padding:10px 10px;	
	}
	.kode-content .overflow{
		display:none;
	}
	.register-content{
		max-width:220px;
		padding:8px 10px;
	}
	.register-content h3{
		font-size:16px;
		margin:0px;
	}
	.register-content p{
		font-size:14px;
	}
	.kf_heading_2 h3, .kf_heading_4 h3{
		font-size:20px;
	}
	.facts-counter{
		width:100%;	
	}
	.facts-counter{
		vertical-align:middle;
		text-align:center;
	}
	.facts-row h3{
		font-size:20px;
	}
	.facts-counter div.col-md-3{
		float:left;
		width:100%;
		padding:20px 0px;
		border-top:solid 1px #ccc;
		-webkit-border-top:solid 1px #ccc;
	}
	.facts-counter .icons-wrap{
		float:none;
		display:inline-block;
		padding:0px;
		vertical-align:middle;
	}
	.kf_counter{
		display:inline-block;
		padding:0px;
		vertical-align:middle;
	}
	.kf_counter, .kf_counter span{
		text-align:center;
		margin:0px;
	}
	.button-slide{
		display:none;
	}
	.kf_heading_1 span, .kf_heading_2 span{
		font-size:14px;
		line-height:20px;
	}
	.kode-welcome .icon-srvc{
		float:none;
		margin:0px 0px 10px 0px;
		display:inline-block;
	}
	.srvc-content{
		float:left;
		width:100%;
	}
	.main-service-box{
		padding:20px;
		text-align:center;
	}
	.scheduletabs .panel-title{
		font-size:18px;
		line-height:20px;
	}
	.scheduletabs .panel-body p{
		font-size:14px;
	}
	.next-event-counter .countdown li{
		margin:0px 3px;
		width:60px;
	}
	.subscribe-form input[type="submit"]{
		padding:20px 25px;
	}
	.kode-blog-newcontent .meta-event{
		font-size:12px;
		margin:0 15px 17px 0;
	}
	.Kode-page-heading{
		text-align:center;
	}
	.Kode-page-heading ul{
		float:none;
		display:inline-block;
	}
	.overview_caption > h2{
		font-size:20px;
	}
	.overview_caption li h5{
		font-size:16px;
	}
	.filter-item li{
		margin:2px;
	}
	.our-team-first, .our-team-second{
		background:none;
	}
	.our-team-second .our-speaker-social-section, .our-team-first .our-speaker-social-section{
		float:left;
		width:100%;
	}
	.kf_who_am_des > ul > li > span, .kf_who_am_des > ul > li > a{
		padding:10px;
		font-size:14px;
	}
	.like_fb, .like_amount{
		margin-right:12px;
		font-size:12px;
	}
	.kf_aside_folwer ul li{
		padding:10px;
	}
	.kode-blog-style{
		float:left;
		width:100%;
		padding:0px;
	}
	.blog-2-side-bar{
		float:left;
		width:100%;
	}
	.kode-blog-2 .blog-2-side-bar ul li{
		width:auto;
		padding:0px 3px;
	}
	.kode-blog-2 .blog-2-side-bar ul li strong{
		text-align:center;
		width:100%;
	}
	.kode-blog-2 .blog-2-side-bar ul li a{
		border:none;
		font-size:12px;
		text-align:center;
	}
	.kode-health-conference .kode-health-over{
		position:static;
		margin:10px 0px 0px 0px;
		float:left;
		width:100%;
	}
	.kode-health-over li{
		font-size:12px;
		padding:10px 10px;
	}
	ul.kf_conference li{
		float:left;
		width:100%;
	}
	.kf_comment_meta > span{
		float:left;
		width:100%;
		margin:0px 0px 10px 0px;
	}
	.kode-health-over li > a{
		margin:0px 10px 0px 0px;
	}
	ul.kf_social_icon{
		float:left;
		width:100%;
		text-align:center;
	}
	ul.kf_social_icon li{
		float:none;
		display:inline-block;
	}
	.kode_event_counter_section li span{
		font-size:16px;
		padding:0px 14px;
	}
	.kode_event_counter_section ul li p{
		font-size:9px;
	}
	.kode_event_counter_section ul li::before{
		font-size:30px;
	}
	.kode_calender .fc-toolbar h2{
		font-size:14px;
		margin:6px 0px 0px 0px;
	}
	/*Blog Detail Page*/
	.kf_blog_detail_des ul li{
		width:100%;	
	}
	.kf_blog_detail_des ul li a{
		border-left:0px;
		padding-left:0px;	
	}
	.kf_comment_des{
		padding:0px;	
	}
	.kf_admin_comment figure img{

	}
	.kf_admin_comment figure{
		display:inline-block;
		text-align:center;
		margin-right:10px;
		height:60px;
		width:60px;
	}
	.kf_comment{
		padding:20px;
	}
	.kf_comment_des ul li a, .kf_comment_des ul li a h6{
		font-size:12px;
	}
	.kf_comment_des p{
		line-height:22px;
	}
	.kf_comment_des > a{
		line-height:normal	
	}
	.kf_comment ul ul{
		padding:0px;	
	}
	.kf_reply_field input[type="submit"], .kf_reply_field button{
		margin-bottom:30px;	
	}
	.scheduletabs .panel-heading::before{
		right:0px;
	}
	.auditorium a{
		font-size:12px;
	}
	.kf_accordian_hdg h5{
		font-size:16px;
	}
	.kf_heading_1 h2{
		font-size:20px;
	}
	#footer h3{
		font-size:20px;
	}
	.footer-copyright p{
		font-size:14px;
	}
	.Kode-page-heading .container .row .col-md-6.col-sm-6{
		float:left;
		width:100%;
	}
	.Kode-page-heading h2{
		font-size:20px;
	}
	.Kode-page-heading ul{
		float:left;
		width:100%;
		text-align:center;
	}
	.Kode-page-heading ul li{
		display:inline-block;
		float:none;
	}
	.kode-heading-overview h2, .overview_caption > h2{
		font-size:20px;
		margin-bottom:10px;
	}
	.icon_captions{
		text-align:center;
	}
	.our_sponsors .item{
		text-align:center;
	}
	.kode-comming-soon h3{
		font-size:36px;
	}
	.kode-comming-soon p{
		font-size:14px;
	}
	.kode-comming-soon > form{
		width:100%;
	}
	.kf_gallery_des{
		width:90%;
		left:0px;
		right:0px;
		margin-left:auto;
		margin-right:auto;
	}
	.our-team-second .our-speaker-social-section > h3, .our-team-first .our-speaker-social-section > h3{
		font-size:20px;
	}
	.our-team-second .our-speaker-social-section > span, .our-team-first .our-speaker-social-section > span{
		font-size:16px;
	}
	.pag .pagination > li > a, .pagination > li > span, .pag .pagination > li:last-child > a, .pagination > li:last-child > span, .pag .pagination > li:first-child > a, .pagination > li:first-child > span{
		font-size:12px;
		padding:2px 10px;
	}
	.kode-health-conference figure{
		margin-bottom:0;
	}
	.kode_event_conter_capstion h2{
		font-size:20px;
		line-height:26px;
	}
	.ticket-section h3{
		font-size:20px;
	}
	.kode-tickets-title div{
		padding:15px 5px;
		font-size:12px;
		min-height:80px;
	}
	.ticket-section ul li{
		font-size:12px;
		line-height:18px;
		padding:0px;
	}
	.overview .overview_caption ul li{
		margin:0px 0px 15px 0px;
	}
	.main-service-box .icon-srvc{
		margin:0px 0px 10px 0px;
		float:none;
		display:inline-block;
	}
	.our-team-first,
	.our-team-second{
		background:none !important;	
	}
	.comment-form p{
		width:100%;
		margin-right:0px;	
	}
	.commentlist .thumblist{
		width:100%;
		float:left;
		text-align:center;	
	}
	.commentlist .thumblist figure{
		width:auto;
		float:none;
		display:inline-block;
		margin:0px 0px 20px;	
	}
	.count-down-timer .downcount{
		width:100%;
		text-align:center;	
	}
	.count-down-timer .downcount{
		padding:0px;	
	}
	.count-down-timer span{
		font-size:16px;	
	}
	.count-down-timer .downcount li p{
		font-size:8px;	
	}
	.count-down-timer span.days{
		padding:0px;	
	}
	.our-team-second .our-speaker-social-section, .our-team-first .our-speaker-social-section{
		padding:0px;	
	}
	.kf_heading_2{
		text-align:center;	
	}
	.kf_heading_1 span::before, .kf_heading_2 span::before{
		display:none;	
	}
	.content .kf_heading_2 span{
		display:none;	
	}
	.bottom-border{
		display:inline-block;
		text-align:center;	
	}
	.auditorium{
		display:none;	
	}
	/*New Conference Schedule Style*/
	.kf_new_conf_btn_link a{
		font-size:14px !important;	
	}
	/*New Our Blog Style*/
	.evt-blog-cols figure figcaption{
		display:none !important;	
	}
}

/*
=================================================
			FROM 0PX TO 0PX
=================================================
*/
@media (max-width: 360px) {
	.kf_accordian_hdg.accordion-open::before{
		top:32px;	
	}
	.kf_pet_logo{
		width:100% !important;
		text-align:center !important;
		padding:20px 0 0px !important;	
	}
	.kf_pet_logo_nav .dl-menuwrapper{
		float:none !important;
		text-align:center !important;
		display:inline-block !important;
		top:70px;
		left:215px;
		position:absolute;	
	}
	.kf_event_member{
		display:inline-block !important;
		float:none !important;
		text-align:center !important;
		margin-left:60px !important;	
	}
	.kf_pet_callus{
		width:100% !important;
		text-align:center !important;
		margin:0px 0px 10px !important;	
	}
	.kf_pet_ui_element{
		width:100% !important;
		text-align:center !important;	
	}
	.kf_pet_ui_element ul li{
		float:none !important;
		display:inline-block !important;	
	}
	.evt-blog-cols figure figcaption{
		min-height:232px;
		padding:20px 15px;	
	}
}

