/*--// ShortCode Setup //--*/
.kd-tab {
	float: left;
	width: 100%;
	margin: 0px 0px 25px 0px;
}
.kd-horizontal-tab .nav-tabs {
	margin: 0px;
}
.kd-horizontal-tab div.tab-pane{
	padding:0px 20px 20px 20px;
	line-height:30px;
}
.kd-horizontal-tab .nav-tabs > li > a {
	background-color: #f9f9f9;
}
.kd-horizontal-tab .tab-content {
	padding: 20px 0px 0px 0px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	background-color: #ffffff;
}
/* Vertical Tab */
.kd-vertical-tab .nav-tabs {
	float: left;
	width: 30%;
}
.kd-vertical-tab .nav-tabs li {
	width: 100%;
}
.kd-vertical-tab .tab-content {
	float: left;
	width: 70%;
	border-left: 1px solid #eeeeee;
	padding: 0px 0px 0px 20px;
}
.kd-vertical-tab .nav-tabs > li.active > a:hover {
	border: none;
}
.kd-vertical-tab .nav-tabs {
	border-bottom: 1px solid #eeeeee;
}
.kd-vertical-tab .nav-tabs > li.active > a, .kd-vertical-tab .nav-tabs > li.active > a:focus {
	border: none;
	border-top: 1px solid #eeeeee;
	border-left: 1px solid #eeeeee;
	background-color: #ffffff;
}
.kd-vertical-tab .nav-tabs > li {
	margin: 0px;
}
.kd-vertical-tab .nav-tabs > li > a {
	background-color: #f9f9f9;
	margin: 0px;
	border: none;
	border-top: 1px solid #eeeeee;
	border-left: 1px solid #eeeeee;
	border-radius: 0px;
}
.kd-vertical-tab.tabs.kd-tab ul{
	margin:0px;
	padding:0px;
}
/* DropCap */
.kd-dropcap p::first-letter {
	font-size: 43px;
	color: #777777;
	float: left;
	padding: 10px 15px 0px 0px;
}
/* Message Box */
.close {
	line-height: 26px;
	font-size: 32px;
}
.genral-message {
	background-color: #f9f9f9;
	border: 2px solid #eeeeee;
}
.success-message {
	background-color: #e4f5ba;
	border: 2px solid #cbdaa5;
}
.warning-message {
	background-color: #fdedbf;
	border: 2px solid #e4c789;
}
.error-message {
	background-color: #fcd4cb;
	border: 2px solid #e1a197;
}
.information-message {
	background-color: #e3eff7;
	border: 2px solid #a6c4d8;
}
pre {
	padding: 9.5px 25px;
}
/* Table ShortCode */
.kd-table {
	float: left;
	width: 100%;	
}
.kd-table .table{
	border:solid 1px rgba(0,0,0,0.1);
	border-collapse:collapse;
}
.kd-table .table thead{
	background-color:#ccc;
}
.kd-table .table thead th{
	padding:10px;
}
.kd-table tr td {
	border-top: 1px solid #eeeeee;
	border-right: 1px solid #eeeeee;
}
.kd-table tr th {
	color: #ffffff;
	padding: 4px 20px;
	border: none;
}
.kd-table tbody {
	border-left: 1px solid #eeeeee;
	border-right: 1px solid #eeeeee;
}
.kd-table tbody tr td {
	padding: 10px 20px;
}
.kd-tableone thead {
	background-color: #f34a53;
}
.kd-tabletwo thead {
	background-color: #11b7ad;
}
/* Services */
.kd-userservices article {
	margin-bottom: 30px;
}
.kd-smallview i {
	float: left;
	width: 40px;
	height: 40px;
	color: #ffffff;
	background-color: #11b7ad;
	border-radius: 100%;
	text-align: center;
	font-size: 18px;
	padding: 10px 0px 0px 0px;
	margin: 6px 0px 0px 0px;
}
.kd-smallview i ~ .services-info {
	padding: 0px 0px 0px 50px;
}
/* Image Frame */
.kd-imageframe {
	float: left;
	width: 100%;
	margin-bottom: 30px;
}
.kd-imageframe a.frame-thumb {
	display: inline-block;
	box-shadow: 0px 0px 4px 1px #999;
}
.kd-imageframe h1 {
	font-weight: 300;
	margin: 0px 0px 15px 0px;
}
.kd-imageframe span {
	font-size: 22px;
	color: #999999;
	margin: 0px 0px 20px 0px;
	display: inline-block;
	width: 100%;
}
.kd-imageframe p {
	margin: 0px 0px 10px 0px;
}
.frame-btn {
	float: left;
	padding: 10px 20px;
	color: #ffffff;
	text-transform: uppercase;
	border-radius: 4px;
	font-size: 14px;
	position: relative;
	margin-top: 15px;
}
/* List Style */
.unorder-list li {
	list-style: inside none disc;
}
.kd-list {
	float: left;
	width: 100%;
	margin-bottom: 25px;
}
.kd-list li {
	margin: 0px 0px 10px 0px;
}
.order-list li {
	list-style: desimal inside;
}
.icon-list li {
	list-style: none;
}
.icon-list li i {
	margin-right: 6px;
	color: #666;
}
.squareicon-list li {
	list-style: none;
	float: left;
	width: 100%;
}
.squareicon-list li i {
	float: left;
	width: 25px;
	height: 25px;
	background-color: #333;
	color: #ffffff;
	margin-right: 15px;
	border-radius: 100%;
	text-align: center;
	padding: 8px 0px 0px 0px;
	font-size: 10px;
}

/* Button's */
.kd-button, .kd-icon {
	float: left;
	width: 100%;
	margin: 0px 0px 20px 0px;
}
.custom-btn {
	display: inline-block;
	vertical-align: middle;
	background-color: #f34a53;
	color: #ffffff;
	padding: 8px 20px;
	text-transform: uppercase;
	border-radius: 4px;
	font-weight: bold;
}
.kd-medium {
	padding: 13px 26px;
}
.kd-large {
	padding: 17px 26px;
}
/* Icon's */
.plain-icon {
	font-size: 36px;
	display: inline-block;
	vertical-align: middle;
}
.plain-icon a {
	margin-right: 20px;
}
.plain-icon a {
	color: #777777;
}
/* Modren Icon */
.circle-icon a {
	display: inline-block;
	background-color: #f24952;
	width: 65px;
	height: 65px;
	color: #ffffff;
	text-align: center;
	font-size: 24px;
	border-radius: 100%;
	padding: 13px 0px;
	margin-right: 12px;
}
.square-icon a {
	display: inline-block;
	background-color: #11b7ad;
	width: 65px;
	height: 65px;
	color: #ffffff;
	text-align: center;
	font-size: 28px;
	border-radius: 5px;
	padding: 13px 0px;
	margin-right: 12px;
}
/* Divider */
.kd-divider {
	float: left;
	width: 100%;
	margin: 0px 0px 0px 0px;
}
.kd-divider span {
	display: inline-block;
	font-size:30px;
	width: 100%;
}
/* Progress */
.custom-skills {
	float: left;
	width: 100%;
}
/*.progress {
	height: 25px;
	border-radius: 0px;
}*/
.progressbar-back-text { display: none; }
.progress-bar {
	font-weight: bold;
	font-size: 14px;
	text-align: right;
	line-height: 23px;
	padding: 0px 10px;
}
.circle-progress {
	float: left;
	width: 25%;
	list-style: none;
	padding: 0px 20px 0px 0px;
}
.circle-progress:nth-child(4n) { padding-right: 0px; }
.perc { line-height: 175px !important; }
.defoult-map {
	float: left;
	width: 100%;
	margin-bottom: 25px;
}
/*--// ShortCode Setup //--*/
.alert{clear:both;}
.alert i{
}
.check-list li{
	list-style:none;
	margin-bottom:10px;
}
.check-list li:before{
	display:inline-block;
	font:normal normal normal 14px/1 FontAwesome;
	font-size:inherit;text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	transform:translate(0, 0);
	font-family:'FontAwesome';
}
.demo-sep{clear:both;}
.sep-single{height:1px;background-color:#e7e6e6;}
.sep-double{height:6px;border-top:1px solid #e7e6e6;border-bottom:1px solid #e7e6e6;}
.sep-dotted{border-bottom:2px dotted #e7e6e6;}
.sep-dashed{border-bottom:2px dashed #e7e6e6;}
.sep-shadow{background:transparent url(../images/sep-shadow.png) no-repeat top center;height:7px;width:100%;}
.code {
    background: none repeat scroll 0 0 ghostwhite;
    padding: 20px;
	clear:both;
}
.code p{
	margin-bottom:0px;
}
.kode_shortcode-map{clear:both;}

.one_third{
	width:33.33%;
	float:left;
	padding:15px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.two_third{
	width:66.66%;
	float:left;
	padding:15px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.one_half{
	width:50%;
	float:left;
	padding:15px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.one_fourth{
	width:25%;
	float:left;
	padding:15px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.three_fourth{
	width:75%;
	float:left;
	padding:15px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.fontawesome-icon {
	padding: 19px 0px;
	width: 65px;
	height: 65px;
	display: inline-block;
	text-align: center;
	font-size: 24px;
	margin-right:12px;
}
.fontawesome-icon.circle-yes {
	border-radius: 100%;
}
.fontawesome-icon.circle-no {
	border-radius: 5px;
}
/* Divider */
.kd-modrentitle .kd-divider{
	margin:0px;
}
.kd-divider {
	float: left;
	width: 100%;
	margin: 0px 0px 15px 0px;
}
.kd-divider span {
	display: inline-block;
}
.divider2 span {
	border-bottom: 1px solid #eeeeee;
}
.divider3 span {
	border-bottom: 1px dotted #eeeeee;
}
.divider4 span {
	border: 5px double #eeeeee;
}
.divider5 span {
	border: 1px dashed #eeeeee;
}
/*--// ShortCode Setup //--*/

/*--// Our Skill Setup //--*/

.our-skills {
	float: left;
	width: 100%;
}
.heading-style3.white h2, .heading-style3.white p {
	color: #ffffff;
}
.skills-title {
	float: left;
	width: 100%;
	text-align: center;
	color: #fff;
	margin: 0 0 47px;
}
.skills-title h2 {
	font-size: 48px;
	line-height: 48px;
	text-transform: uppercase;
	margin: 0 0 20px;
	color: #fff;
}
.skills-title p {
	margin: 0;
}
.our-skills ul li {
	list-style: none;
}
.progress-holder {
	float: left;
	width: 100%;
}
.progress-holder span {
	font-size: 16px;
	line-height: 16px;
	font-weight: 600;
	color: #fff;
	margin: 0 0 10px;
	display: block;
}
.progress-holder .progress {
	float: left;
	width: 100%;
	padding: 0;
	border-radius: 10px;
	height: auto;
	margin: 0 0 50px;
	text-align: left;
}
.progress-holder .progress .progress-bar {
	margin: 0;
	height: 20px;
	padding: 0 10px;
	text-align: right;
	font-weight: bold;
}
.progress .bg-color1 {
	background-color: #03acdc !important;
}
.progress .bg-color2 {
	background-color: #ffcc0e !important;
}
.progress .bg-color3 {
	background-color: #18e2ba !important;
}
.progress .bg-color4 {
	background-color: #f65353 !important;
}
.progress .bg-color5 {
	background-color: #564bb5 !important;
}
.progress .bg-color6 {
	background-color: #52c854 !important;
}
.dropcap p:first-letter,.dropcap2 p:first-letter,.dropcap{
	font-size: 40px;
	color: #777777;
	margin: 0px 15px 3px 0px;
	text-transform: uppercase;
	float: left;
	line-height: 1;
}
.dropcap2 p:first-letter{
	width: 65px;
	height: 65px;
	background-color: #101010;
	color: #999;
	text-align: center;
	padding-top: 11px;
}
/* Counter */

/* Services */
.kode-services,.kode-services figure img {
	float: left;
	width: 100%;
}
.kode-services article {
	margin: 0px -4px 24px 0px;
}
.kode-services figure {
	float: left;
	position: relative;
	overflow: hidden;
}
.kode-services figure:before {
	content: '';
	position: absolute;
	left: 0px;
	top: 0px;
	background-color: rgba(0,0,0,0.4);
	width: 100%;
	height: 100%;
	opacity: 0;
}
.kode-services:hover figure:before {
	opacity: 1;
}
.kode-services.type-2 figure ~ .kode-service-info {
	padding: 24px 0px 0px 295px;
}
.kode-services .kode-service-info h2 {
	margin: 0px 0px 8px 0px;
}
.kode-services .kode-service-info p { margin-bottom: 15px; }
.kode-services .kode-service-info a.kd-readmore {
	display: inline-block;
	padding: 10px 16px;
	color: #333333;
	border-radius: 4px;
	background-color: #e4e4e4;
}
.kode-services .kode-service-info a.kd-readmore:hover { color: #ffffff; }
/*==// Services CSS Starts //==*/
.kd-services {
	text-align: center;
	margin-bottom: 30px;
	float: left;
	width: 100%;
}
.kd-services i {
	display: inline-block;
	width: 100px;
	height: 100px;
	border-radius: 100%;
	color: #ffffff;
	font-size: 45px;
	padding: 26px 0px 0px 0px;
	margin: 0px 0px 24px 0px;
}
.kd-services:hover i {
	box-shadow: 0px 0px 0px 8px #fff inset;
}
.kd-services h5 {
	text-transform: uppercase;
	margin: 0px 0px 10px 0px;
}
.kd-services .kd-readmore{
	float:none;
	text-align:center;
}
.kd-services p{
	margin:0px 0px 25px 0px;
}


.kd-testimonial {
	float: left;
	width: 100%;
	text-align: center;
}
.kd-testimonial i, .kd-testimonial p, .kd-testimonial span {
	color: #ffffff;
}
.kd-testimonial p {
	font-size: 22px;
}
.kd-testimonial i {
	font-size: 80px;
	line-height: 0.6;
}
.kd-testimonial .bx-wrapper .bx-pager.bx-default-pager a {
	background-color: #91989a;
}
.kd-testimonial ul.bxslider{
	float:left;
	width:100%;
	margin:0px;
	padding:0px;
}
.kd-testimonial .bx-wrapper li{
	padding:0px 100px;
}
.kd-testimonial .bx-wrapper .bx-pager.bx-default-pager a:hover, .kd-testimonial .bx-wrapper .bx-pager.bx-default-pager a.active {
	background-color: #ffffff;
}
.kd-testimonial .bx-wrapper .bx-pager, .kd-testimonial .bx-wrapper .bx-controls-auto {
	position: static;
}
.kode-testimonial-white .kdtwitter a,
.kode-testimonial-white h2{
	color:#fff;
}
.kode-background-video .kode-video-bg {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
	width:100%;
	height:100%;
}
.kode-background-video  .container{
	position:relative;
}

/*
===========================================
			SERVICES SECTION
===========================================
*/
.kode-services-3{
	float:left;
	width:100%;
	text-align:center;
	background-color:#fff;
	padding:40px 20px;
	border-bottom:solid 3px transparent;
	overflow:hidden;
}
.kode-services-3:hover{
	box-shadow:0px 10px 15px 0px rgba(0,0,0,0.1);
	-moz-box-shadow:0px 10px 15px 0px rgba(0,0,0,0.1);
	-webkit-box-shadow:0px 10px 15px 0px rgba(0,0,0,0.1);
}
.kode-services-3 i{
	width:100%;
	float:left;
	font-size:60px;
	margin:0px 0px 15px 0px;
}
.kode-services-3:hover i{
	transform:scale(4);
	opacity:0.5
}
.kode-services-3 .kode-text-3{
	position:relative;
	z-index:10;
}
.kode-services-3 h2{
	font-size:24px;
	color:#333333;		
}
.kode-services-3 p{
	line-height:24px;
}
.kode-services-3 a.kode-read-more{
	text-transform:uppercase;
	font-weight:bold;
	font-size:14px;
}

.btn-filled{
	display:inline-block;
	font-size:18px;
	text-transform:uppercase;
	padding:10px 30px;
	color:#fff;
	font-weight:bold;
}
.btn-filled:hover{
	background-color:#000;
	text-decoration:none;
	color:#fff;
}

.btn-filled-rounded{
	display:inline-block;
	font-size:16px;
	text-transform:uppercase;
	padding:5px 20px;
	color:#fff;
	font-weight:bold;
	border-radius:50px;
}
.btn-filled-rounded:hover{
	background-color:#000;
	text-decoration:none;
	color:#fff;
}

.btn-borderd{
	display:inline-block;
	font-size:18px;
	text-transform:uppercase;
	padding:10px 30px;
	color:#fff;
	font-weight:bold;
	border:solid 2px #fff;
}
.btn-borderd:hover{
	text-decoration:none;
	color:#fff;
}

.kode-services-3, .kode-services-3 i, .kode-cause-list .kode-thumb img, .kode-cause-list,  .btn-borderd, .kode-event-list:before, .kode-event-list img, .kode-team-member a:before, .kode-social-icons ul li a, .kode-team-member .kode-text, .kode-blog-list, .kode-blog-list .kode-avatar, .kode-blog-list .kode-thumb img, .widget-recentpost ul li a, .widget-social-network ul li span, .widget-social-network .input-container button, .widget-social-network ul li i, .footer-nav ul li a, .kd-accordion .accordion, .kode-testimonials-cover .bx-wrapper .bx-controls-direction a, .pagination > li > a, .pagination > li > span, .kode-event-list-2, .kode-event-list-2 img, .kode-event-list-2 .kode-thumb a:before, .kode-blog-list .kode-thumb a:before, .kode-cause-list .kode-thumb a:before, .widget-categories ul li a, .widget-categories ul li:before, .widget-blog ul li a, .widget-blog ul li .kode-thumb img, .widget-blog ul li .kode-thumb a:before, .widget-tags ul li a, .widget-archive ul li a, .widget-archive ul li:before, .widget-social ul li a, .widget-flickr ul li:before, .widget-flickr ul li img, .kode-gallery-item a.like, .kode-gallery-item, .kode-gallery-item .kode-text, .kode-gallery-item a.like, .kode-gallery-item .kode-thumb a:before, .kode-gallery-item .kode-thumb img, .kode-blog-list i, .kode-contact-icon i, .kode-contact-icon, .kode-product, .kode-product .kode-text h4 a, .kode-product .kode-text h2 a, .kode-product .kode-thumb:before, .kode-product .btn-filled.cart, .kode-product .btn-filled.view, .kode-blog-detail .kode-thumb, .kode-blog-option .kode-tags a, .kode-share-blog ul li a, .kode-comments .kode-text a.reply, .kode-fund-raised ul li a, .kode-shop-detail .product-quantity .qtyminus, .kode-shop-detail .product-quantity .qtyplus, .kode-team-member, .kode-team-detail .prectic-areas ul li a, .navigation ul li a, .header-2 .nav-content .kode-donate-now a{
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
}

/* Divider */
.kd-divider {
	float: left;
	width: 100%;
	margin: 0px 0px 0px 0px;
}
.kd-divider{
	display: inline-block;
	font-size:30px;
	width: 100%;
}
.div-single{
	border-bottom: 1px solid #eeeeee;
}
.div-double {
	border-bottom: 1px dotted #eeeeee;
}
.div-dotted{
	border: 5px double #eeeeee;
}
.div-dashed{
	border: 1px dashed #eeeeee;
}
.div-shadow{background:transparent url(../images/sep-shadow.png) no-repeat top center;height:7px;width:100%;}



.strip-info li{list-style:none;}



.kode_pet_lnk_1{
	display:inline-block;
	background-color:#fff;
	box-shadow:0px 0px 0px 5px rgba(255,255,255,0.5);
	-moz-box-shadow:0px 0px 0px 5px rgba(255,255,255,0.5);
	-webkit-box-shadow:0px 0px 0px 5px rgba(255,255,255,0.5);
	border-radius:50px;
	padding:20px 25px;
	text-transform:uppercase;
	line-height:normal;
	font-weight:bold;
	overflow:hidden;
}
.kode_pet_link_2{
	display:inline-block;
	font-weight:bold;
	text-transform:uppercase;
	background-color:#fff;
	font-size:20px;
	padding:15px 30px;
	border-radius:40px;
	line-height:normal;
	box-shadow:0px 0px 0px 5px rgba(255,255,255,0.5);
	-moz-box-shadow:0px 0px 0px 5px rgba(255,255,255,0.5);
	-webkit-box-shadow:0px 0px 0px 5px rgba(255,255,255,0.5);
	overflow:hidden;
}


/*
	  ==============================================================
		   BANNER WRAP SHORTCODE CSS START
	  ==============================================================
*/
.kode_link_1{
	background-color: #fff;
    display: inline-block;
    outline: 2px solid #fff;
    outline-offset:3px;
    overflow: hidden;
    padding: 12px 68px 10px 20px;
    position: relative;
    z-index: 9999;
	text-transform:uppercase;
	color:#233a38;
	font-weight:bold;
	letter-spacing:1.2px;
	font-family: 'Sintony', sans-serif;	
}
.kode_link_1 i{
	color: #fff;
    font-size: 19px;
    font-weight: bold;
    height: 100%;
    position: absolute;
    right: 16px;
    top: 10px;	
}
.kode_link_1:before{
	background-color: #1c1d22;
    color: #fff;
    content:"";
    height: 100%;
    padding: 33px 34px;
    position: absolute;
    right: -22px;
    top: -15px;
    transform: rotate(66deg);
 }
/*
	  ==============================================================
		   BANNER WRAP SHORTCODE CSS END
	  ==============================================================
*/


/*
	  ==============================================================
		   PROGRAM LIST WRAP SHORTCODE CSS START
	  ==============================================================
*/
.kode_link_2{
	display:inline-block;
	position:relative;
	color:#fff;
	text-transform:uppercase;
	font-weight:bold;
	padding:14px 35px 15px;
	overflow:hidden;
	border:2px solid #fff;
	border-radius:2px;
	line-height:normal;	
	border:2px solid #000000;
	color:#474747;	
}
.kode_link_2:before{
	content:"";
	position:absolute;
	top:0px;
	left:0px;
	width:3px;
	height:100%;	
	z-index:-9;	
	background-color:#474747;	
}
.kode_link_2:hover:before{
	width:100%;
	height:100%;	
}
a.kode_link_2:hover{
	color:#fff;	
}
/*
	  ==============================================================
		   PROGRAM LIST WRAP SHORTCODE CSS END
	  ==============================================================
*/



/*
	  ==============================================================
		   WELCOME TO DEMOCRACY WRAP SHORTCODE CSS START
	  ==============================================================
*/
.kode_link_3{
	background-color: #27282d;
    display: inline-block;
    outline: 1px solid #27282d;
    outline-offset:3px;
    overflow: hidden;
    padding: 12px 68px 10px 20px;
    position: relative;
    z-index: 9999;
	text-transform:uppercase;
	color:#fff;
	font-weight:bold;
	letter-spacing:1.2px;
	font-family: 'Sintony', sans-serif;	
}
.kode_link_3 i{
	color: #27282d;
    font-size: 19px;
    font-weight: bold;
    height: 100%;
    position: absolute;
    right: 16px;
    top: 10px;	
}
.kode_link_3:before{
	background-color: #fff;
    content: "";
    height: 100%;
    padding: 33px 34px;
    position: absolute;
    right: -27px;
    top: -18px;
    transform: rotate(62deg);
}
/*
	  ==============================================================
		   WELCOME TO DEMOCRACY WRAP SHORTCODE CSS END
	  ==============================================================
*/

/*
	  ==============================================================
		   LEAVE A REPLY WRAP SHORTCODE CSS START
	  ==============================================================
*/
.kf_touch_field label{
	display:inline-block;
}
.kode_btn_1{
	position:relative;
	border:1px solid #dddddd;
	text-transform:uppercase;
	color:#474747;
	padding:15px 20px;
	background-color:#fff;
	z-index:99999;	
}
.kode_btn_1:before{
	content:"";
	position:absolute;
	top:0px;
	left:0px;
	width:4px;
	height:100%;
	background-color:#d2d2d2;
	z-index:-1;
}
.kode_btn_1:hover:before{
	width:100%;	
}
/*
	  ==============================================================
		   LEAVE A REPLY WRAP SHORTCODE CSS END
	  ==============================================================
*/




.law_services{
	position:relative;
	float:left;
	width:100%;
	text-align:center;
	border:1px solid #ddd;	
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.18);
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.18);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.18);
	-o-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.18);
	-ms-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.18);
}
.law_services i{
	position:absolute;
	top:-30px;
	left:0px;
	right:0px;
	width:86px;
	height:62px;
	margin:auto;
	line-height:normal;
	font-size:34px;
	color:#111111;
	background-color:#fff;
	padding-top:10px;
	border:1px solid #ddd;	
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.18);
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.18);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.18);
	-o-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.18);
	-ms-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.18);
}
.service_detail{
	width:100%;
	float:left;
	padding:60px 22px 30px;	
}
.law_services.kf-services-new{
	background:#fff;
}
.kf-services-new i{
	position:relative;
	margin-top:30px;
	top:0px;
}
.kf-services-new .service_detail{
	padding:20px 22px 30px;
}
.service_detail h4{
	margin:0px;
	color:#111111;
	margin-bottom:30px;
	text-transform:uppercase;
	font-weight:bold;	
}
.service_detail p{
	color:#666666;
	font-size:14px;
	margin:0px;	
	line-height:24px;
	word-break: break-all;
}
.kode_service{
	padding-top:30px;	
}
.kode_service a:hover,.col-recent-wrap a:hover{
	color:#fff;
	background-color:#111111;	
}
.col_services:hover i{
	color:#fff;
}

/*Link Style*/
a.kode_link_1{
	display:inline-block;
	padding:15px 20px;
	color:#fff;
	font-size:14px;
	line-height:normal;	
}

.ripplelink{
	display:inline-block;
	color:#fff;
	font-size:14px;
	padding:15px 20px;
	line-height:normal;
	border:0px;
	text-transform:capitalize;
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.18);
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.18);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.18);
	-o-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.18);
	-ms-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.18);
}
.ink {
  display: block;
  position: absolute;
  background:#e37d39;
  border-radius: 100%;
  -webkit-transform:scale(0);
     -moz-transform:scale(0);
       -o-transform:scale(0);
          transform:scale(0);
}
.animate {
	-webkit-animation:ripple 0.65s linear;
   -moz-animation:ripple 0.65s linear;
    -ms-animation:ripple 0.65s linear;
     -o-animation:ripple 0.65s linear;
        animation:ripple 0.65s linear;
}
@-webkit-keyframes ripple {
    100% {opacity: 0; -webkit-transform: scale(2.5);}
}
@-moz-keyframes ripple {
    100% {opacity: 0; -moz-transform: scale(2.5);}
}
@-o-keyframes ripple {
    100% {opacity: 0; -o-transform: scale(2.5);}
}
@keyframes ripple {
    100% {opacity: 0; transform: scale(2.5);}
}
.kf_comming_bg{
	
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	position:relative;
	background-attachment:fixed;
	padding-bottom:66px;
}
.kf_comming_bg:before{
	opacity:0.6;
	background:#000;
	content:'';
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	width:100%;
}
.kf_comming_bg .container{
	position:relative;
}
.kf_comming_wrap,
.kf_comming_counter
{
	float:left;
	width:100%;
	text-align:center;
}
.kf_comming_counter{
	margin-bottom:50px;	
}
.kf_comming_wrap{
	margin-top:50px;
}
.kf_comming_wrap a{
	display:inline-block;
}
.kf_comming_counter h2{
	color:#fff;
	font-weight:bold;
	text-transform:uppercase;
	margin-bottom:10px;		
}
.kf_comming_counter h4{
	color:#fff;
	font-weight:bold;
	text-transform:uppercase;
	margin-bottom:42px;	
	letter-spacing:5px;
}
.kf_comming_counter ul.downcount::before,
.kf_comming_counter ul.downcount::after{
	display:none;	
}
.kf_comming_counter ul.downcount li{
	width:100px;
	height:10px;
	line-height:60px;
	background-color:rgba(255, 255, 255, 0.5);
	height:150px;
	width:150px;
	border:0px;	
	text-align:center;
	position:relative;
	margin-left:15px;
}
.kf_comming_counter ul.downcount li span{
	background:none;
	border:0px;	
	padding-top:10px;
}
.kf_comming_counter ul.downcount li p{
	position:absolute;
	bottom:44px;
	left:0px;
	right:0px;
	margin:auto;
	color:#fff;
}
.kf_comming_form{
	width:560px;
	margin:auto auto 50px;
	position:relative;	
}
.kf_comming_form form input[type="text"]{
	width:370px;
	border:1px solid #fff;
	height:50px !important;
	float:left;
	background:none;
	padding:8px 15px;
	color:#fff;
}
.kf_comming_form button,
.kf_comming_form input[type="submit"]{
	text-transform:uppercase;
	border:1px solid #fff;
	height:50px;
	padding:0px 25px;
	float:right;
	background:none;
	color:#fff;
}
.kf_comming_form button:hover,
.kf_comming_form input[type="submit"]:hover{
	color:#fff;	
}
.kf_comming_social{
	margin-top:50px;	
}
.kf_comming_social,
.kf_comming_social ul
{
	float:left;
	width:100%;
	text-align:center;	
}
.kf_comming_social ul li{
	display:inline-block;
	position:relative;	
}
.kf_comming_social ul li a{
	display:block;
	font-size:18px;
	padding:0px 15px;
	color:#fff;	
}
.kf_comming_bg ul.downcount {
	list-style: none;
	padding: 0;
	display: block;
	text-align: center;
	position:relative;
	margin:0px;
}
.kf_comming_bg ul.downcount::before{
	content:"";
	position:absolute;
	border-top:	1px solid #a9a7aa;
	border-bottom:	1px solid #a9a7aa;
	width:30%;
	height:65.9%;
	left:12px;
	top:0px;
}
.kf_comming_bg ul.downcount::after{
	content:"";
	position:absolute;
	border-top:	1px solid #a9a7aa;
	border-bottom:	1px solid #a9a7aa;
	width:29%;
	height:65.9%;
	right:12px;
	top:0px;
}
.kf_comming_bg ul.downcount li { 
	display: inline-block;
	position:relative;
	margin-left:30px;
}
.kf_comming_bg ul.downcount li span{
	display:inline-block;
	font-size:36px;
	color:#fff;
	font-weight:bold;
	padding:0px;
	margin:0px 0px 10px;
	line-height:normal;
	width:100px;
	height:100px;
	line-height:100px;
	border:1px solid #ababac;
	background-color:rgba(171,171,171,0.3);
}
.kf_comming_bg ul.downcount li p {
	color: #fff;
	font-size: 15px;
	text-transform:uppercase;
	font-weight:bold;
}
.days{
	padding: 0 10px;
	color: #fff;
}
.
.kf_comming_form ::-webkit-input-placeholder {color: #fff; opacity: 1; text-transform:capitalize;}
.kf_comming_form :-moz-placeholder { color: #fff; opacity: 1;text-transform:capitalize; }
.kf_comming_form ::-moz-placeholder { color: #fff; opacity: 1; text-transform:capitalize;}
.kf_comming_form :-ms-input-placeholder {color: #fff; opacity: 1; text-transform:capitalize;}
.blog-2-side-bar ul li span i{
	display:none;
}
/*COMMENTS FORM*/
.comment-form {
	float: left;
	width: 100%;
}
.comment-form input[type='text'] {
	width: 100%;
}
.comment-form p {
	float: left;
	width: 49%;
	margin-bottom: 20px;
}
.comment-form p:nth-child(2){
	margin-right:2%;
}
.comment-form p:nth-child(3){
	margin-left:0px;
}
.comment-form p:first-child {
	margin-left: 0px;
}
.comment-form .comment-form-rating, .comment-form .comment-form-comment {
	margin-left: 0px;
	width: 100%;
}
.comment-form p.full-width-kode, .comment-form p.kode-textarea, .comment-form p.form-submit {
	width: 100%;
	margin-left: 0px;
}
.comment-form input[type="submit"] {
	border-radius: 0px;
	color: #fff;
	padding: 14px 20px;
}
.comment-form textarea {
	height: 200px;
}
.comment-form input[type="submit"]:hover {
	background-color: #000;
}
/*COMMENTS*/

#kodecomments {
    background: #f9f9f9;
    float: left;
    padding: 30px 30px 0px;
    width: 100%;
	margin-bottom:30px;
}
#kodecomments > ul > ul {
	margin: 0px;
}
#em-booking-submit:hover,
#em_wp-submit:hover{
	background:#333 !important;
}
.commentlist > .children > li, #kodecomments > ul > li {
	float: left;
	width: 100%;
	list-style: none;
}
#kodecomments > ul > li {
	border-bottom: 1px solid #ebebeb;
	margin-bottom: 25px;
	padding-bottom: 12px;
}
#kodecomments ul li figure {
	float: left;
	width: 60px;
	height: 60px;
	overflow: hidden;
}
#kodecomments ul li figure img {
	width: 100%;
}
#kodecomments ul li figure ~ .text {
	padding: 0px 0px 0px 80px;
	float: none;
	width: auto;
}
#kodecomments ul li .text h6 {
	margin: 0px 0px 10px 0px;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
}
#kodecomments ul li .text a {
	float: left;
	margin-right:10px;
}
#kodecomments ul .kode-edit-reply p.edit-link {
	padding: 0px;
	float: right;
	margin: 0px;
}
p.edit-link a, #kodecomments ul li .text a.comment-reply-link {
	border: 1px solid #dddddd;
	color: #777777;
	float: left;
	font-size: 15px;
	font-weight: bold;
	padding: 6px 24px;
	text-transform: uppercase;
}
#kodecomments ul li .text a.comment-reply-link:hover {
	color: #fff;
}
#kodecomments ul li .text .replay-btn {
	float: left;
	padding: 6px 24px 6px 24px;
	color: #777777;
	font-weight: bold;
	font-size: 15px;
	text-transform: uppercase;
	border: 1px solid #dddddd;
	border-radius: 4px;
}
#kodecomments ul li .text .replay-btn:hover {
	color: #ffffff;
}
#kodecomments ul li .text p {
	margin-top: 8px;
	margin-bottom: 5px;
	display: list-item;
}
.aside_speaker ul{
	padding:0px;
}
.aside_speaker ul li{
	list-style:none;
}
/*Comment Area Style*/
.commentlist{
	float:left;
	width:100%;	
	margin:0px 0px 10px 0px;
}
.kode-comments-area ul.commentlist li{
	list-style:none;	
}
.kode-comments-area ul.commentlist ul.children{
	margin:20px 0px 0px;
	padding:0px 0px 0px 80px;
	float:left;
	width:100%;	
}
/*Short Code Styling*/
.menu-shortcodes-container ul.menu li{
	margin:0px;	
}
.menu-shortcodes-container ul.menu li:hover a:before{
	color:#fff;	
}
.kd-table.table-1 .table tr th{
	color:#fff;
	font-weight:bold;	
}
.kode_progress > h6{
	color:#000 !important;	
}
.kf_connect.large li{
	list-style:none;	
}
.booking_form {
    padding: 30px;
    position: relative;
    background: #f9f9f9;
	float:left;
	margin-bottom:20px;
	width:100%;
}
#em_rememberme{
	width:auto;
	margin-top:10px;
	margin-right:10px;
}
.em-booking-login-form label{
	margin:6px 0px 0px 0px;
	width:200px !important;
}
div.em-booking-login {
    border-left: 1px solid #ccc;
    margin: 0 0 0 373px;
    padding: 10px 10px 10px 20px;
}
.booking_form .em-booking{
	padding:0px;
	margin:0px;
}
.kode-comments-area .kode-section-title h2,
.booking_form h3{
	margin:0px;
	padding:0px;
}

.widget_em_calendar table.em-calendar .month_name, .widget_em_calendar table.em-calendar thead tr td a{
	font-weight:bold;
	color:#fff;
}
#calendar table{
	margin:0px;
}
#calendar table th{
	padding:15px 15px;
	background-color:#CCC;
	color:#fff;
	border:none;
}
#calendar .fc-row table td{
	padding:10px 20px;
}
#calendar .fc-row:hover{
	background-color:#f7f7f7;
}
.book_event_des{
	float:left;
	width:100%;
	border:1px solid #ededed;
}
.book_event_heading{
	float:left;
	width:100%;
	text-align:center;
	background:#00a4ef;
	padding:2px 0 12px;
	position:relative;
}
.book_event_heading h3{
	display:block;
	text-transform:capitalize;
	color:#fff;
}
.book_event_form_wrap{
	float:left;
	width:100%;
	padding:35px 15px 18px;
	box-shadow:0px 5px 4px 0px rgba(0,0,0,0.15)
}
.book_event_form_wrap from{
	float:left;
	width:100%;
}
.book_event_form_wrap > form textarea,
.book_event_form_wrap > form input[type="email"], 
.book_event_form_wrap > form input[type="text"]{
	float:left;
	width:100%;
	border:1px solid #dddddd;
	padding:10px 15px 11px;
	color:#999999;
	font-size:16px;
	margin-bottom:20px;
	resize:none;
}
.book_event_form_wrap > form textarea{
	height:142px;
}
.book_event_form_wrap input[type="button"]{
	font-size:16px;
	color:#fff;
	text-transform:capitalize;
	text-align:center;
	background:#fff;
	padding:12px 21px 10px;
	display:block;		
	transition:all 0.3s ease-in-out;
	margin-bottom:15px;
}
.book_event_form_wrap input[type="button"]:hover{
	background:#333 !important;
	color:#fff;
}
.kode-notice{
	display:none;
}

.kode-paypal-form ::-webkit-input-placeholder {color: #999; opacity: 1; text-transform:capitalize;}
.kode-paypal-form :-moz-placeholder { color: #999; opacity: 1;text-transform:capitalize; }
.kode-paypal-form ::-moz-placeholder { color: #999; opacity: 1; text-transform:capitalize;}
.kode-paypal-form :-ms-input-placeholder {color: #999; opacity: 1; text-transform:capitalize;}

.kf_action8_wrap{
	float:left;
	width:100%;
}
.kf_action8_wrap span{
	float:left;
	width:57px;
	text-align:center;
	font-size:37px;
	position:relative;
	color:#fff;
	padding-bottom:8px;
	margin-right:5px;
}
.kf_action8_wrap span:before{
	content:"";
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	width:44px;
	margin:auto;
	height:3px;
	background:#fff;
}
.kf_action8_wrap span:after{
	content:"";
	left:0;
	right:0;
	bottom:-6px;
	position:absolute;
	width:44px;
	margin:auto;
	height:3px;
	background:#fff;
}
.kf_action8_des{
	float:none;
	overflow:hidden;
	text-align:left;
}
.kf_action8_des h2{
	font-size:40px !important;
	color:#fff;
	margin:0px 0px 11px 0px;
}
.kf_action8_des h6{
	font-size:20px;
	color:#fff;
	margin:0px;
	text-transform:uppercase;
	font-family: "Rokkitt",sans-serif;
}

/*
	  ==============================================================
		   Action 3 START
	  ==============================================================
*/
.kf_action3_wrap{
	float:left;
	width:100%;
	text-align:center;
	border-style:solid;
	border-width:1px 0 1px 1px;
	border-color:#eee;
	padding: 0 22px;
	background: #fff;
}
.kf_action3_des{
	float:left;
	width:100%;
}
.border-top{
	border-width:1px 1px 1px 1px;
}
.col-md-4.padding-none{
	padding:0;
}
.no-padding .container .col-md-4:first-child .kf_action3_wrap.border-top{
	border-width: 1px 0px 1px 1px;
}
.no-padding .container .col-md-4:last-child .kf_action3_wrap.border-top{
	border-width: 1px 1px 1px 0px;
}
.no-padding .container .col-md-4:last-child .kf_action3_wrap{
    border-width: 1px;
}
.kode-blog-list.kode-press-blog .kode-blog-small-ux figure{
	margin-bottom:0px;
}
.kf_action3_wrap span {
    display: block;
    height: 106px;
    line-height: 182px;
    margin: 0 auto 16px;
    position: relative;
    text-align: center;
    width: 80px;
	background:#f9f9f9;
}
.kf_action3_wrap span:before{
	content:"";
	left:0;
	right:0;
	top:-1px;
	bottom:0;
	position:absolute;
	height:1px;
	width:100%;
	background:transparent;
}
.kf_action3_wrap span i{
	font-size:40px;
	color:#333;
}
.kf_action3_des h6 a{
	color:#666;
}
.kf_action3_wrap:hover h6 a,
.kf_action3_wrap:hover h6,
.kf_action3_des:hover h6,
.kf_action3_des:hover h6 a{
	color:#fff;
}
.kf_action3_des h6{
	font-size:18px !important;
	color:#333;
	text-transform:uppercase;
	margin-bottom:10px;
	font-weight: bold !important;
}
.kf_action3_des p {    
    font-size: 16px;
    position: relative;
	margin-bottom:87px;
}
.kf_action3_des p:before {
    background: #333;
    bottom: -20px;
    content: "";
    height: 2px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: 103px;
}
/*Hover Style*/
.kf_action3_wrap:hover{
	background:#00b1f1;
}
.kf_action3_wrap:hover p:before {
	background:#fff;
}
.kf_action3_wrap:hover h6,
.kf_action3_wrap:hover p{
	color:#fff;
}
.kf_action3_wrap:hover span i{
	color:#00b1f1;
}
.kf_action3_wrap:hover span:before{
	background:#fff;
}


/*
	  ==============================================================
		   Book Event Css End
	  ==============================================================
*/
/*conference-schedule-accordion style 2*/
.accordian_schedule_wrap{
	position:relative;
	max-width:947px;
	margin:-86px auto 0;
	overflow:hidden;
	background:#fff;
}
.accordian_schedule_wrap .kode_goal_wrap {
    float: left;
    margin-bottom: 14px;
    width: 100%;
	background:#fff;
	overflow:hidden;
}
.accordian_schedule_wrap .accordion {
    float: left;
    padding: 16px 30px;
    width: 100%;
	background:#333333;
	color:#fff;
	position:relative;
	cursor:pointer;
}
.accordian_schedule_wrap .accordion-open:before{
	position:absolute;
	content:"";
	left:50px;
	bottom:-8px;
	width: 0;
	height: 0;
	height: 20px;
	width: 20px;
	transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	background: red;

}
.accordian_schedule_wrap .accordion-content {
    float: left;
    width: 100%;
	border:1px solid #eee;
}
.accordian_schedule_wrap .accordion  > strong{
	float:left;
	font-size:20px;
	color:#fff;
	line-height:38px;
	font-weight:bold;
	text-transform:uppercase;
}
.accordian_schedule_wrap .accordion  > span{
	float:right;
	font-size:24px;
	text-transform:uppercase;	
}
.accordian_schedule_wrap .accordion  > span small{
	font-size:20px;
	font-weight:600;
	margin-left:15px;	
}
.accordion_des{
	float:left;
	width:100%;
    padding: 28px 51px 0;
	margin:0px;
}
.accordion_des li{
	float:left;
	width:100%;
	border-bottom:1px solid #e2e2e2;
	margin-bottom:30px;
}
.accordion_des li:last-child{
	border:none;
	margin-bottom:0;
}
.accordion_capstion_heading{
	float:left;
	width:100%;
	margin-bottom:19px;
}
.accordion_des_capstion{
	float:left;
	width:100%;
}
.accordion_capstion_heading h5 {
	float:left;
	margin:0px;
}
.accordion_capstion_heading h5 a{
	font-size:20px;
	color:#333333;
	text-transform:capitalize;	
}
.accordion_capstion_heading h5 i{
	margin-right:12px;
	font-size:20px;
}
.accordion_capstion_heading span{
	float:right;
	font-size:20px;
	line-height:20px;
	color:#333333;
}
.accordion_capstion_heading span i{
	font-size:20px;
	margin-right:12px;
}
.accordion_des_capstion > p{
	margin-bottom:27px;
}
.interval_wrap{
	float:none;
	width:auto;
	background-image:url(../images/interval.jpg);
	padding:40px 0;
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	position:relative;
	overflow:hidden;
	z-index:2;
	margin:-30px -52px 0;
}
.interval_wrap:before{
	content:"";
	left:-30px;
	top:0;
	bottom:-2px;
	width:55%;
	position:absolute;
	transform:skewX(22deg);
	z-index:-1;
}
.interval_wrap:after{
	content:"";
	right:0%;
	top:0;
	bottom:0;
	width:100%;
	position:absolute;
	z-index:-2;
	background:#000000;
	opacity:0.50;
}
.interval_wrap span,
.interval_wrap strong{
	float:left;
	width:50%;
	text-align:center;
	font-size:20px;
	color:#fff;
	font-weight:normal;
	text-transform: uppercase;
}
.interval_wrap span{
	margin:4px 0 0 0;
}
.interval_wrap strong i{
	margin-right:12px;
	color:#fff;
}
.kode_goal_wrap ul li{
	list-style:none;
}
/*conference-schedule-accordion style 2 end*/
.interval_wrap:before,
.accordian_schedule_wrap .accordion.accordion-open,
.pop-up_heading,
.kode-comming-soon form a,
.ancor-link a ,
.book_event_heading,
.book_event_form_wrap > form button:hover,
.pop-up_heading a{
	background:#00a4ef;
	
}
.book_event_form_wrap > form button:hover
{
	border-color:#00a4ef;
	
}
.accordion_des_capstion strong i,
.accordion_des_capstion span i,
.accordion_capstion_heading h5 i{
	color:#00a4ef;
}
.search-page-kode input[type="submit"]{
	width:0;
	padding:0px;
}
.search-page-kode{
	margin-bottom:50px;
}
.search-page-kode .kode-search{
	display:inline-block;
	margin:0 auto;
	width:60%;
	float:none;
}
/*
	  ==============================================================
		   Header 2 Wrap Start
	  ==============================================================
*/
.kf_event_header_2{
	position:absolute;
	top:0px;
	z-index:99;	
}
.kf_pet_topbar{
	float:left;
	width:100%;
	position:relative;
	background-color:#191919;
	padding:14px 0px;	
}
.kf_pet_callus{
	float:left;
	width:auto;
	position:relative;	
}
.kf_pet_callus ul{
	float:left;
	width:100%;
	margin:0px;
}
.kf_pet_callus ul li{
	display:inline-block;
	position:relative;
	color:#fff;
	padding:0px 10px;
	margin:0px;
}
.kf_pet_callus ul li a{
	display:inline-block;
	color:#fff;	
}
.kf_pet_callus ul li i{
	margin-right:8px;
	font-size:18px;	
}
.kf_pet_callus ul li:first-child{
	padding-left:0px;	
}
/*Ui-Element Style*/
.kf_pet_ui_element{
	float:right;
	width:auto;	
}
.kf_pet_ui_element ul{
	float:left;
	width:100%;
	padding:0px;
	margin:auto;	
}
.kf_pet_ui_element ul li{
	float:left;
	position:relative;
	margin:0px;	
}
.kf_pet_ui_element ul li a{
	display:block;
	width:30px;
	height:30px;	
	background-color:#ece9e8;
	text-align:center;
	line-height:30px;
	color:#333;
	margin:0px 8px 0px 0px;	
}
.kf_pet_ui_element ul li:last-child a{
	margin-right:0px;	
}
/*Hover style*/
.kf_pet_ui_element ul li:hover a{
	color:#fff;	
}
/*Logo Wrap Style*/
.kf_pet_logo_nav{
	float:left;
	width:100%;
	position:relative;
	background-color:rgba(0, 0, 0, 0.5);	
}
.kf_pet_logo{
	float:left;
	width:auto;
	position:relative;
	padding:26px 0;	
}
.kf_pet_logo a{
	display:block;	
}
/*Navigation Wrap Style*/
.kf_pet_navigation{
	float:right;
	width:auto;
	position:relative;
	text-align:center;	
}
.kf_pet_navigation ul{
	float:left;
	width:100%;
	margin:0px;	
}
.kf_pet_navigation ul li{
	display:inline-block;
	position:relative;
	margin:0px;	
}
.kf_pet_navigation ul li a{
	display:block;
	font-size:14px;
	line-height:normal;	
	padding:43px 18px;
	text-transform:uppercase;
	font-weight:700;	
}
/*Second Drop Down*/
.kf_pet_navigation ul ul{
	position:absolute;
	top:120%;
	left:0px;
	min-width:250px;
	background-color:rgba(0, 0, 0, 0.5);
	z-index:10;	
	opacity:0;
	visibility:hidden;
}
.kf_pet_navigation ul ul li{
	width:100%;
	margin:0px;	
}
.kf_pet_navigation ul ul li a{
	padding:10px 15px;
	text-align:left;
	line-height:normal;
	font-family: 'Open Sans', sans-serif;
}
/*Third Drop Down*/
.kf_pet_navigation ul ul ul{
	top:0px;
	left:110%;	
}
/*Hover Style*/
.kf_pet_navigation ul li:hover > ul{
	opacity:1;
	visibility:visible;
	top:100%;	
}
.kf_pet_navigation ul ul li:hover > ul{
	top:0px;
	left:100%;	
}
.kf_pet_navigation ul ul li:hover > a{
	padding-left:25px;	
}
/*Member Wrap Start*/
.kf_event_member{
	float:right;
	width:auto;
	margin:3px 0px 0px 16px;
	padding:26px 0;	
}
.kf_event_member > a{
	display:inline-block;
	color:#fff;
	padding:10px 20px;
	font-size:16px;
	font-weight:500;	
}
.kf_event_member > a i{
	margin-right:8px;	
}
/*Hover Style*/
.kf_event_member > a:hover{
	background-color:#fff !important;	
}
/*
	  ==============================================================
		   Header 2 Wrap End
	  ==============================================================
*/

/*
	  ==============================================================
		   Testimonial Wrap Start
	  ==============================================================
*/
.kf_event_testi_bg{
	float:left;
	width:100%;
	position:relative;
	background-image:url(extra-images/event-testimonial-bg.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	background-attachment:fixed;
	padding:70px 0px;	
}
.kf_event_testi_bg:before{
	content:"";
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color:rgba(255,255,255,0.92);	
}
.kf_testimonial_bg .owl-item{
	
	margin-bottom:30px;
	float:left;
	width:100%;	
}
.kf_testimonial_bg .owl-item:first-child{
	margin-left:0px;	
}
.kf_event_testi_wrap{
	background-color:#fff;
	padding:35px 60px;
	float:left;
	width:100%;
	position:relative;
	text-align:center;
	box-shadow:0px 0px 10px 1px rgba(0,0,0,0.25);
	margin:0px 0px 12px;
}
.kf_event_testi_wrap figure{
	width:100%;
	float:left;
	position:relative;
	margin:0px 0px 20px;
}
.kf_event_testi_wrap figure img{
	width:auto;
	height:auto;
	border-radius:100%;	
}
.kf_event_testi_wrap p{
	margin:0px 0px 15px;
	color:#666666;	
}
.kf_event_testi_wrap h4 > a{
	display:inline-block;
	font-weight:normal;
	font-size:20px;
	text-transform:uppercase;
	color:#000;
	margin:0 0 3px;	
}
.kf_event_testi_wrap span{
	display:inline-block;
	font-style:italic;
	color:#666666;	
}
/*Owl Style*/
.kf_testimonial_bg.owl-theme .owl-controls{
	display:none !important;	
}
/*
	  ==============================================================
		   Testimonial Wrap End
	  ==============================================================
*/

/*
	  ==============================================================
		   Creative Design Wrap Start
	  ==============================================================
*/
.kf_creative_bg{
	float:left;
	width:100%;
	background-image:url(extra-images/creativedesign-bg.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
	position:relative;
	min-height:390px;
	overflow:visible;	
}
.kf_creative_bg:before{
	content:"";
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.75);	
}
.kf_mobile_wrap{
	float:left;
	width:100%;
	position:relative;
}
.kf_mobile_wrap figure{
	position:absolute;
	top:-100px;	
}
.kf_mobile_wrap figure img{
	width:100%;
	height:auto;	
}
.kf_design_des_wrap{
	float:left;
	width:100%;
	position:relative;
	padding:70px 140px 70px 30px;	
}
.kf_design_des_wrap h6{
	color:#fff;
	font-size:14px;
	text-transform:capitalize;
	line-height:normal;
	font-weight:bold;
	margin:0px 0px 25px;	
}
.kf_design_des_wrap h3{
	text-transform:capitalize;
	font-weight:bold;
	font-size:30px;
	color:#fff;
	margin:0px 0px 20px;
	line-height:normal;
}
.kf_design_des_wrap p{
	color:#fff;
	margin:0px 0px 20px;
	line-height:24px;	
}
/*
	  ==============================================================
		   Creative Design Wrap End
	  ==============================================================
*/


/*===============================*/
/*========columns blog===========*/
/*===============================*/
.event-blog_bg{
	padding:120px 0px 70px;	
}
.event-blog_bg,
.evt-blog-cols{
	float:left;
	width:100%;
	position:relative;
}
.evt-blog-cols figure figcaption a,
.evt-blog-cols figure figcaption h4{
	font-family: 'Open Sans', sans-serif;
}
.evt-blog-cols figure{
	position:relative;
}
.evt-blog-cols figure img{
	width:100%;
}
.evt-blog-cols figure figcaption{
	background-color: rgba(43, 43, 43, 0.85);
    margin: 0 auto;
    position: absolute;
    right: -35px;
    top: 18%;
    width: 50%;
	min-height:342px;
	height:100%;
	padding:60px 25px 60px;
	opacity:0;
	transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
}
.evt-blog-cols:hover figure figcaption{
	opacity:1;
	right:35px;	
}
.evt-blog-cols figure figcaption a{
	display:inline-block;	
	font-size:15px;
	padding:6px 40px;
	text-decoration:none;
	color:#fff;
	margin-bottom:16.5px;
}
.evt-blog-cols figure figcaption h4{
	font-size:22px;
	font-weight:bold;
	margin:0px;
	color:#fff;
	margin-bottom:16.5px;
}
.evt-blog-cols figure figcaption span{
	display:inline-block;
	margin-bottom:14px;
	font-size:16px;
	color:#fff;
}
.evt-blog-cols figure figcaption span i{
	padding:0px 10px 0px 0px;
	color:#fff;
}
.evt-blog-cols figure figcaption span small{	
	font-weight:600;
	color:#fff;
}
.evt-blog-cols figure figcaption p{
	font-size:16px;
	color:#fff;	
}
.user-small{
	width:100%;
	float:left;
	padding:10px 0px 0px;
}
.user-small figure{
	border:5px solid;	
	float:left;
	width:90px;
	overflow:hidden;
}
.evt-caption{
	float: left;
    padding: 18px 0;
    text-align: left;
    width: 62%;
	margin-left:12px;
}
.user-small h5{
	margin:0px;
	line-height:22px;
}
.user-small h5 a{
	display:inline-block;
	color:#ff2c29;
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
	font-size:15px;
}
.user-small h6{
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
	font-size:13px;
	margin:0px;
}
.user-small h6 a{
	display:inline-block;
}
/*===============================*/
/*====sectin our clints==========*/
/*===============================*/
.kf_our_clints_bg{
	padding:70px 0px;	
}
.kf_our_clints_bg,
.our-clint-title{
	float:left;
	width:100%;
	position:relative;
}
.our-clint-title h2{
	margin:0px;
	font-size:35.66px;
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
	color:#242424;
	position:relative;
	text-transform:uppercase;
	margin-bottom:24px;
	padding:0 0 17px;
}
.our-clint-title h2:before{
	position:absolute;
	left:-100%;
	content:"";
	bottom:0px;
	width:100%;
	border-bottom:2px solid #c5c5c5;
}
.our-clint-title h2:after{
   border-bottom: 4px solid #ff2c29;
    bottom: -1px;
    content: "";
    left: 0;
    position: absolute;
    width: 4%;
}
.our-clint-title p{
	font-size:15px;
	color:#999999;
	font-family: 'Open Sans', sans-serif;
	margin-bottom:29.5px;
}
.clints-brand {
    border: 1px solid #eee;
    float: left;
    height: 200px;
    padding: 63px 0;
    text-align: center;
    width: 100%;
	margin-bottom:30px;
}
.clints-brand figure img{
	width:100%;
}
.clints-brand > figure {
    background-size: contain;
    display: inline-block;
    text-align: center;
	
	-webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%); 
  filter: gray;
}
.clints-brand:hover figure{
	-webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: grayscale(0%); 
  filter: none;
}
.about-brand .clints-brand{
	height:auto;
	border:none;
	padding:0px;
	margin-bottom:0px;
}
.about-brand .col-md-4{
	width:auto !important;
}
/*
	  ==============================================================
		   Footer 2 CSS START
	  ==============================================================
*/
.footer_2{
	float:left;
	width:100%;
	position:relative;	
	background-size:cover;
	background-repeat:no-repeat;
	background-attachment:fixed;
	padding:50px 0px 0px;	
}
.footer_2:before{
	content:"";
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.92);	
}
.kf_event_widget{
	float:left;
	width:100%;
	position:relative;	
}
.footer_2 .kode-widget h3,
.kf_event_widget h4{
	font-size:21px;
	color:#fff;
	text-transform:uppercase;
	font-weight:600;
	position:relative;
	margin:0px 0px 13px;
	padding:0px 0px 13px;	
}
.footer_2 .kode-widget h3:before,
.kf_event_widget h4:before{
	content:"";
	position:absolute;
	bottom:0px;
	left:0px;
	width:40px;
	height:3px;
}
/*Col 1*/
.kf_event_footer figure{
	margin:0px 0px 15px;	
}
.kf_event_footer p{
	color:#fff;
	margin:0px 0px 15px;	
}
.kf_event_social{
	display:inline-block;
	width:100%;
	margin:0px 0px 15px 0px;	
}
.kf_event_social li{
	display:inline-block;
	margin:0px;
	position:relative;	
}
.kf_event_social li a{
	display:block;
	margin:0px 0px 0px -4px;
	width:50px;
	height:40px;
	background-color:#0b0b0b;
	color:#fff;
	text-align:center;
	line-height:42px;
	font-size:16px;	
}
.kf_event_contact{
	float:left;
	width:100%;
	margin:0px;	
}
.kf_event_contact li,
.kf_event_contact li a{
	display:flex;
	position:relative;
	color:#cccccc;
	margin:0 0 8px;	
}
.kf_event_contact li i{
	margin-right:12px;
	padding-top:5px;	
}
/*Hover Style*/
.kf_event_social li:hover a{
	transform:scale(1,1.2);
	-webkit-transform:scale(1,1.2);
	-moz-transform:scale(1,1.2);	
}
/*Col 2 style*/
.kf_event_flicker{
	float:left;
	width:100%;
	margin:0px;	
}
.kode-flickr-widget .flickr_badge_image{
	float:left;
	position:relative;
	margin:0px;
	width:33.3%;
	overflow:hidden;	
}
.kode-flickr-widget .flickr_badge_image:before{
	content:"";
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.65);	
}
.kode-flickr-widget .flickr_badge_image a{
	display:block;	
}
.kode-flickr-widget .flickr_badge_image a img{
	width:100%;
	height:auto;	
}
.kode-flickr-widget .flickr_badge_image a:hover img{
	transform:scale(1.2);
	-webkit-transform:scale(1.2);
	-moz-transform:scale(1.2);	
}
.kode-flickr-widget .flickr_badge_image:hover:before{
	opacity:0;
	z-index:-1;	
}
/*Col-3 style*/
.kf_event_link{
	float:left;
	width:100%;
	margin:0px;	
}
.footer_2 .kode-widget.widget_meta li,
.kf_event_link li{
	display:inline-block;
	width:100%;
	position:relative;
	border-bottom:1px solid #373536;	
}
.footer_2 .kode-widget.widget_meta li:last-child,
.kf_event_link li:last-child{
	border-bottom:0px;	
}
.footer_2 .kode-widget.widget_meta li:before,
.kf_event_link li:before{
	content:"\f105";
	font-family:fontawesome;
	position:absolute;
	top:12px;
	left:0px;
	color:#fff;
	font-size:14px;	
}
.footer_2 .kode-widget.widget_meta li a,
.kf_event_link li a{
	display:block;
	padding:12px 0px 12px 15px;
	text-transform:uppercase;
	font-size:15px;
	font-weight:600;
	color:#fff;	
}
/*Hover style*/
.footer_2 .kode-widget.widget_meta li:hover,
.kf_event_link li:hover{
	padding-left:25px;	
}
.footer_2 .kode-widget.widget_meta li:hover:before,
.kf_event_link li:hover:before{
	padding-left:18px;	
}
/*Col-4 Style*/
.kf_event_subcribe{
	float:left;
	width:100%;
	position:relative;	
}
.kf_event_subcribe p{
	color:#fff;
	margin:0px 0px 20px;	
}
.kf_event_subcribe form,
.kf_event_footer_field{
	float:left;
	width:100%;
	position:relative;
}
.kf_event_footer_field label{
	position:absolute;
	top:23px;
	left:20px;
	color:#fff;
	margin:0px;	
}
.kf_event_footer_field input[type="email"],
.kf_event_footer_field textarea{
	width:100%;
	border:0px;
	background-color:#222222;
	margin:0px 0px 15px;
	padding:10px 20px 10px 50px;
	height:60px;
	border:1px solid #222222;
	color:#fff;	
}
.kf_event_footer_field textarea{
	line-height:38px;	
}
.kf_event_footer_field textarea{
	resize:none;	
}
.kf_event_footer_field input[type="submit"],
.kf_event_footer_field button{
	padding:15px 20px;
	line-height:normal;
	color:#fff;
	float:left;
	text-transform:uppercase;
	border:0px;
	font-weight:600;
}
/*Hover Style*/
.kf_event_footer_field input[type="submit"]:hover,
.kf_event_footer_field button:hover{
	background-color:#fff;	
}
/*Copyright Text*/
.kf_event_copyright{
	float:left;
	width:100%;
	position:relative;
	padding:25px 0px;
	background-color:#000000;	
}
.kf_event_copyright_text{
	float:left;
	width:50%;
	position:relative;	
}
.kf_event_copyright_text p{
	color:#fff;
	margin:0px;
	color:#fff;	
}
.kf_event_copyright_text a{
	display:inline-block;	
}
.kf_event_footer_nav{
	float:left;
	width:50%;
	position:relative;	
}
.kf_event_footer_nav ul{
	float:left;
	width:100%;
	margin:0px;
	text-align:right;	
}
.kf_event_footer_nav ul li{
	position:relative;
	display:inline-block;	
}
.kf_event_footer_nav ul li a{
	display:block;
	color:#fff;
	padding:0px 10px;
	font-weight:600;	
}
/*
	  ==============================================================
		   Footer 2 CSS END
	  ==============================================================
*/


/*
	  ==============================================================
		   New Conference Schedule Wrap Css Start
	  ==============================================================
*/
.tab-style-2 .tab-content{
	float:left;
	width:100%;
	position:relative;
	padding:20px 0px 10px;	
}
.kf_new_con_wrap{
	float:left;
	width:100%;
	position:relative;
	padding:20px 30px 0px;	
}
.kf_new_conf_time{
	float:left;
	width:15%;
	position:relative;	
}
.kf_new_conf_time h5{
	color:#333;
	font-size:18px;
	margin:0px;
	font-weight:normal;	
}
.kf_new_conf_hdg i{
	margin-left:15px;	
}
.kf_new_conf_des_wrap{
	float:left;
	position:relative;
	width:85%;	
}
.kf_new_conf_des_wrap:before{
	content:"";
	position:absolute;
	width:20px;
	background:#fff;
	height:20px;
	left:-46px;
	top:0px;	
	border:2px solid #d3d3d3;	
}
.kf_new_conf_des_wrap:after{
	content:"";
	position:absolute;
	width:2px;
	top:20px;
	left:-37px;
	bottom:-40px;
	background-color:#d3d3d3;	
}
.kf_new_conf_hdg{
	float:left;
	position:relative;
	width:100%;
	margin:0px 0px 10px;
	cursor:pointer;	
}
.kf_new_conf_hdg h5{
	display:inline-block;
	color:#333333;
	font-weight:600;
	font-size:20px;
	margin:0px;
}
.kf_new_conf_hdg i{
	font-weight:bold;
	font-size:16px;	
}
.kf_new_conf_des,
.kf_new_conf_open_wrap{
	float:left;
	width:100%;
	position:relative;	
}
.kf_new_conf_des{
	margin-bottom:10px;
}
.kode-lunch-break .kf_new_conf_des{
	margin-bottom:0px;
}
.kf_new_conf_des p{
	font-size:16px;
	color:#666666;
	margin:0px;
	line-height:27px;	
}
.kf_new_conf_orgnizr{
	float:left;
	width:35%;
	position:relative;	
}
.kf_new_conf_orgnizr figure{
	position:relative;
	border-radius:100%;
	width:60px;
	float:left;	
}
.kf_new_conf_orgnizr figure img{
	border-radius:100%;
	width:100%;
	height:auto;	
}
.kf_new_conf_orgnizr_name{
	float:none;
	width:auto;
	padding:8px 0px 0px 75px;
	position:relative;	
}
.kf_new_conf_orgnizr_name h6{
	font-size:18px;
	font-weight:bold;
	color:#333333;
	margin:0px 0px 3px;	
}
.kf_new_conf_orgnizr_name span{
	font-size:16px;	
	display:block;
	font-weight:normal;	
}
.kf_new_conf_btn_link{
	float:left;
	width:65%;
	position:relative;
	text-align:right;	
}
.kf_new_conf_btn_link a{
	display:inline-block;
	font-size:16px;
	font-weight:600;
	color:#fff;
	background-color:#999999;
	padding:10px 20px;
	text-transform:capitalize;	
}
.kf_new_conf_btn_link a i{
	color:#fff;
	margin-right:15px;
}
.kf_new_conf_btn_link a:first-of-type{
	margin-right:5px;	
}
.tab-pane .kf_new_con_wrap:last-child .kf_new_conf_des_wrap::after{
	bottom:20px;	
}
/*Open Style*/
.kf_new_conf_hdg.accordion-open .fa-angle-down::before{
	content:"\f106";	
}
.tab-style-2 .scheduletabs .nav-tabs{
	border-bottom:none;
}
.tab-style-2.schedule-banner .scheduletabs .nav-tabs > li > a{
	padding:15px 10px 12px;
}
.tab-style-2 .scheduletabs{
	margin:-88px auto 0;
}
.tab-style-2.schedule-banner{
	border:1px solid #ccc;
	float:left;
	width:100%;
}
/*
	  ==============================================================
		   New Conference Schedule Wrap Css End
	  ==============================================================
*/
.comment-reply-title{
	margin:-15px 0 15px;
	float:left;
}
.em-booking-form-details{
	padding:0px;
}
.kf_event_footer_nav .sub-menu,
.kf_event_footer_nav .children{
	display:none;
}