.kode-navigation-wrapper, .kode-navigation-wrapper ul li a, .kode-navigation-wrapper ul li{font-family:Montserrat}
.kode-caption-title, .kode-caption-text, h1, h2, h3, h4, h5, h6{font-family:Montserrat}
body{font-family:Open Sans}
body{font-size:14px}
body{font-weight:normal}
h1{font-size:30px}
h1{font-weight:normal}
h2{font-size:25px}
h2{font-weight:normal}
h3{font-size:20px}
h3{font-weight:normal}
h4{font-size:18px}
h4{font-weight:normal}
h5{font-size:16px}
h5{font-weight:normal}
h6{font-size:15px}
h6{font-weight:normal}
.kode-linksection, .kode-modren-btn{border-color:#ffffff !important}
.kode-linksection, .kode-modren-btn{background:#ffffff !important}
.navigation ul > li > a, .navbar-nav > li > a{color:#ffffff}
.navigation ul > li:hover > a{background-color:#000000}
.navigation ul.sub-menu > li:hover > a{background-color:#00a4ef !important}
.navigation ul > li:hover > a, .navbar-nav > li:hover{color:#ffffff !important}
.navigation .sub-menu, .navigation .children, .navbar-nav .children{background:#ffffff !important}
.navigation .menu .sub-menu li:hover a:before, .navigation .sub-menu li:hover a:before, .navbar-nav .children li:hover a:before{ color:#ffffff !important }
.navigation ul li ul > li:hover > a, .navbar-nav li ul > li:hover > a{ color:#ffffff !important }
.navigation ul > li ul li > a, .navbar-nav > li ul li > a .navigation .sub-menu a, .navigation .children , .navbar-nav .children a{ color:#000000 }
body { background-color: #ffffff;  }
footer:before{  content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;opacity: 0.6;  }
footer:before{ background-color: #000;  }
/*
============================================================
		  				 Font Color
 ============================================================
*/
.kf_testimonial_des p:before, .aside_widget_hdg h6 span, .kf_blog_detail_des ul li a span, .kf_comment_des > a, .kf_blog_detail_des ul li:hover a, .kf_comment_des > ul > li:hover > a > h6, .kf_comment_des > ul > li:hover > a, .kf_accordian_hdg h5:before, /*Amir Code Classes*/
.blog-2-side-bar ul li:hover strong, .kode-fig-capstion > a:hover, .kode-team-blog figure > a :hover, .kode-thumb-caption li:hover a i, .our-speaker-social-section:hover > span, .our-speaker-social-section a:hover, .blog-2-side-bar strong:hover, .kode-fig-capstion > a:hover, .kode-team-blog figure > a :hover, .pag.pagination > li > a:hover, .kode-thumb-caption li:hover a i, .kode-loading-link > a:hover, .our-speaker-social-section:hover > span, .our-speaker-social-section a:hover, .contactusform h3, .main-service-box:hover .icon-srvc, .auditorium a:hover, .auditorium li.active a, .scheduletabs .panel-heading, .scheduletabs .announcer, .overcontent ul a, 
.kode-price-box:hover .kode-price-header h3, 
.active .kode-price-box .kode-price-header h3, 
.kode-blog-newcontent .meta-event, 
.user-small h5 a,
.kode-footer-text .title,
.address-nav .fa, 
.kf_accordian_hdg.accordion-open:before,
.twitterfeed-nav a, 
.kode-error > h3, 
.main-service-box .icon-srvc i,
.kode-price-content a:hover,
.kf_action3_wrap span i,
.kf_pet_callus ul li i,
.kf_pet_callus ul li:hover a,
.kode-health-over li i,
.accordion_des_capstion strong i, .accordion_des_capstion span i, .accordion_capstion_heading h5 i,
.ticket-column:hover li span,
footer strong.title,
.kf_event_testi_wrap:hover h4 > a,
.kf_action3_wrap:hover span i,
.caption-holder a:hover,
.kf_event_member > a:hover,
.kode_event_list:hover a,
.kode-blog-newcontent .post-meta-data .blog-info:hover a,
.kf_experience_list:hover > a,
.kode-next.thcolorhover.next-nav.inner-post a:hover{color: #00a4ef !important;  }
/*
============================================================
		   			Background Color
============================================================
*/
.kode-pagination .page-numbers.current,
.kf_speaker_socil, .kf_heading_1 i:before, .kf_experience_list:before, .kf_experience_list span, .owl-theme.kf_testimonial_bg .owl-controls .owl-page.active span, .owl-theme.kf_testimonial_bg .owl-controls .owl-page:hover span, .kf_aside_twitter, .kode_calender .fc-toolbar, .blog_img_year, .kf_reply_field input[type="submit"], .kf_reply_field button, .kode_about_bg, .register-button, #kode-gallery-causel .owl-controls .owl-buttons div:hover, .kf_heading_3 span:before, #kode-testimonial-causel .owl-controls .owl-buttons div:hover, 
.back-to-top,
.col-right .button-member, .button.active, .button:hover, .kode_about_bg, .kode-thumb-caption span a:hover, 
.kode-blog-2 figure:after, 
.kode-contact-area > a, 
.register-button:hover, 
.kode-comments-area form.comment-form p.form-submit .submit,
.eventless-today,
.kf_new_conf_btn_link a,
.em-booking-submit,
#em_wp-submit,
.first-letter,.kode_wel_outr_wrap p:first-letter, 
.kf_heading_4 h2::before,
.pag .pagination > li:hover a, 
.kf_gallery figure, 
.col-right .button-member, 
.button.active, .button:hover, 
.book_event_form_wrap input[type="button"],
.kode-tickets-title,
#em-booking-submit, #em_wp-submit:hover,
.kode_about_bg, .kode-thumb-caption span a:hover, 
.speaker-event-content ul li a:hover, .speaker-event-content ul li a:focus, .speaker-event-content ul li.active a,
.kode-blog-2 figure:after, .kode-contact-area > a, 
.register-button:hover, 
.first-letter, .kode-nav li.active > a, 
.kf_faq_banner .bx-wrapper .bx-controls-direction a:hover, 
.button-animate span::before, 
.button-animate span, .main-service-box:hover, 
.button-slide:hover, .button-slide:focus, 
.button-slide.active, .scheduletabs .nav-tabs > li.active > a, .scheduletabs .nav-tabs > li.active > a:hover, .scheduletabs .nav-tabs > li.active > a:focus, .scheduletabs .nav-tabs > li.active > a:after, .scheduletabs .nav-tabs > li.active > a:hover:after, .scheduletabs .nav-tabs > li.active > a:focus:after, 
.auditorium li.active a:after,
.auditorium a:hover:after, 
.find-us-heder, 
.subscribe-form input[type="submit"], 
.new-ourspeaker.over-state, 
.kode-price-footer a:hover, 
.kode-price-box:hover .kode-price-footer a, 
.kode-event-testimonial .border-left, 
.time-newevent, 
.kode_button_link_3:hover,
.kode-newblog-footer a:hover, 
.kode-event-contact .border-left, 
.contactusform input[type="submit"], 
.kode-ask-question a, 
.footer-copyright, 
.kode-welcome .icon-srvc, 
.col-right .button-member, 
.event-slider-box .bx-wrapper .bx-pager.bx-default-pager a:hover,
.event-slider-box .bx-wrapper .bx-pager.bx-default-pager a.active,
.event-slider-box .bx-wrapper .bx-pager.bx-default-pager a:focus, 
.bottom-border, 
.overcontent:before, 
.kode-error > a:hover, 
.filter-item li a.active,
.filter-item li a:hover,
.filter-item li a:focus, 
.lode-more, 
.counter-meta,
.kode-loading-link, 
.kode-health-caption > a, 
#mobile-header:hover, .header-social a:hover, 
.kode-btn-style-1, 
.thbg-color,
.widget_categories ul li:hover,
.kf_heading_2 span::before,
.kf_faq_accordian .kf_accordian_hdg.accordion.accordion-open,
.kode-pagination > span:hover,
.kode-pagination > a:hover,
#kodecomments ul li .text a.comment-reply-link:hover,
.em-calendar thead,
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus,
#calendar table th,
.kf_action3_wrap:hover,
.kd-table table thead,
.ticket-column:hover li a,
.menu-shortcodes-container ul.menu li:hover,
.kode_progress .progress .progress-bar,
.evt-blog-cols figure figcaption a,
.accordian_schedule_wrap .accordion-open:before,
.kode-search label,
.kf_event_member > a,
.kode-item.k-content.kode_news_detail .wpcf7-form-control.wpcf7-submit,
.book_event_heading,
.footer_2 .kode-widget h3:before,
.interval_wrap::before, .accordian_schedule_wrap .accordion.accordion-open, 
.dl-menuwrapper button,
.widget_pages ul li:hover > a, .widget_recent_entries ul li:hover a, .widget_nav_menu ul li:hover > a,
#em_wp-submit em-booking-submit:hover {background-color: #00a4ef !important;  }
/*
============================================================
		   			Border Color
============================================================
*/
.kf_blog_detail figure, .blog_img_year:before, #kode-testimonial-causel .owl-controls .owl-buttons div:hover, /*Amir Code Classes*/
.kode-thumb-caption > span:hover, .button.active, .button:hover, .kode-blog-2:hover .kode-thumb-caption::before, .kode-blog-2:hover .kode-thumb-caption::after, .blog-2-side-bar ul li a::after, .blog-2-side-bar ul li:hover a:after, .kode-event-blog3:hover figure:after, .kode-thumb-caption > span:hover, .button.active, .button:hover, .kode-blog-2:hover .kode-thumb-caption::before, .kode-blog-2:hover .kode-thumb-caption::after, .blog-2-side-bar ul li a::after, .blog-2-side-bar ul li a:hover::after, .kode-event-blog3:hover figure::after, .kode-price-box:hover .kode-price-header, .active .kode-price-box .kode-price-header, .kf_faq_banner .bx-wrapper .bx-controls-direction a:hover, .button-slide:hover, .button-slide:focus, .button-slide.active, 
.subscribe-form input[type="submit"], 

.kode-newspeaker:hover .new-ourspeaker.over-state, .kode-newspeaker:hover, 
.kode-newblog-footer a:hover, 
.kode-error > form.kf_404_form .placeholder2:focus,
.kode-error > a, 
.kode-error input[type="search"]:focus, 
.user-small figure,
.clints-brand:hover,
.speaker-event-content ul li a:hover, .speaker-event-content ul li a:focus, .speaker-event-content ul li.active a,
.filter-item li a.active,
.main-service-box .icon-srvc,
.filter-item li a:hover,
.filter-item li a:focus, 
#mobile-header:hover, .header-social a:hover,
.kode-event-blog3 .kode-thumb-caption span a:hover,
#kodecomments ul li .text a.comment-reply-link:hover{border-color: #00a4ef !important;  }
.kf_pet_navigation ul li a.current{border-bottom-color: #00a4ef !important;  }
blockquote{ border-left-color: #00a4ef !important;  }
.accordian_schedule_wrap .accordion-open::before{ border-color: #00a4ef transparent transparent !important;  }
.kode_politician_des:before, .kode_politician_des:before{ border-top: 10px solid #00a4ef !important;  }
.kode-nav ul li a{ font-weight: normal !important;  }
.kode_pet_navigation ul.nav li a.current{border-top-color: #00a4ef !important;  }
.kode_link_1.kode-linksection.hvr-radial-out:hover{color: #ffffff !important;  }
.kode_link_1.kode-linksection.hvr-radial-out{color: #000000 !important;  }
.kode_link_1.kode-linksection.hvr-radial-out{outline-color: #ffffff !important;  }
.kode_link_1.kode-linksection.hvr-radial-out{background-color: #ffffff !important;  }
.kode_link_1.kode-linksection.hvr-radial-out:hover{background-color: #ef4a2b !important;  }
.kode_link_1.kode-linksection.hvr-radial-out i{color: #ffffff !important;  }
.kode_link_1.kode-linksection.hvr-radial-out:hover i{color: #000000 !important;  }
.kode_link_1.kode-linksection.hvr-radial-out:before{background-color: #000000 !important;  }
.kode_link_1.kode-linksection.hvr-radial-out:hover:before{background-color: #ffffff !important;  }

								.kode-sidebar.kode-left-sidebar,
								.kode-sidebar.kode-right-sidebar,
								.kode-widget.kode-sidebar-element{background-color: #f9f9f9 !important;float:left;width:100%;}

								.kode-sidebar.kode-left-sidebar,
								.kode-sidebar.kode-right-sidebar,
								.kode-widget.kode-sidebar-element{padding-top: 30px !important;}

								.kode-sidebar.kode-left-sidebar,
								.kode-sidebar.kode-right-sidebar,
								.kode-widget.kode-sidebar-element{padding-bottom: 30px !important;}

								.kode-sidebar.kode-left-sidebar,
								.kode-sidebar.kode-right-sidebar,
								.kode-widget.kode-sidebar-element{padding-left: 30px !important;}

								.kode-sidebar.kode-left-sidebar,
								.kode-sidebar.kode-right-sidebar,
								.kode-widget.kode-sidebar-element{padding-right: 30px !important;}
.log1 a, .log1 p {
    line-height: 8em;
    display: block;
}
.log1 .simple-column:hover {
    border: 1px solid #3c763d;
    background: #3c763d;
}
.log1 .simple-column {
    height: 250px;
    width: 100%;
    background: rgba(17, 17, 17,0.8);
    text-align: center;
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    border: 1px solid rgb(17, 17, 17);
    overflow: hidden;
}
.cxo-logos {
    background: transparent !important;
}
.log1 img {
    transition: all 6s ease-in-out;
    -webkit-transition: all 6s ease-in-out;
    -moz-transition: all 6s ease-in-out;
}
.log1:hover img {
    transform: scale(2);
    -moz-transform: scale(2);
    -webkit-transform: scale(2);
    transition: all 6s ease-in-out;
    -webkit-transition: all 6s ease-in-out;
    -moz-transition: all 6s ease-in-out;
}
.simple-column.log-description {
    padding: 10px;
    background: #00a4ef;
    position: absolute;
    bottom: 0;
    width: 92.5%;
    margin: 0 auto;
    left: 0;
    right: 0;
    max-height: 110px;
    border: 1px solid #00a4ef;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    overflow: hidden;
}
.simple-column.log-description span {
    color: #fff;
    font-size: 14px;
}
.simple-column.log-description p {
    line-height: 24px;
    margin-top: 0;
    color: #fff;
    font-size: 13px;
    vertical-align: bottom;
}

.auditorium li {
    margin-bottom: 0;
}
.auditorium {
    background: transparent;
    border: none;
    line-height: normal;
}
.header-social {
    padding: 25px 30px 0 0;
}

.contct-info .address-nav li, .contct-info .address-nav li a {
    color: #333333;
}
.contct-info .address-nav li:last-child {
    margin-bottom: 0;
}
.mmm_fullwidth_container {
    width: auto !important;
    left: 0 !important;
}
.wpcf7-response-output.wpcf7-display-none.wpcf7-mail-sent-ok {
    clear: both;
    margin-left: 0;
    margin-right: 0;
}
.footer_2 {
    background: #000000;
    border-bottom: 1px solid #fff;
}
.footer_2 strong.title {
    display: none;
}

.kf_event_footer_nav ul li a {
 transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
}
.kf_event_footer_nav ul li a:hover {
    color: #00a4ef;
}

@media(max-width:1024px){
	.anim-logo {
    text-align: center;
}
	
}

@media(max-width:991px){
.kode-navigation-sticky  button.dl-trigger {
    display: none;
}
.kode-navigation-sticky .col-right {
    display: none;
}
#mega_main_menu.responsive-enable.mobile_minimized-enable > .menu_holder > .menu_inner > .nav_logo .mobile_toggle {
    width: 100%;
}
#mega_main_menu.responsive-enable.mobile_minimized-enable > .menu_holder > .menu_inner > .nav_logo .mobile_toggle .mobile_button {
    display: block;
}
.anim-logo {
    width: 131px;
    height: 131px;
}
.simple-column.log-description {
    width: 96%;
}
.tp-mask-wrap #slide-1-layer-10 {
    font-size: 25px !important;
    text-align: center;
    margin-top: 16px !important;
}
.sub-header1 {
    margin-top: 134px;
}
.log1.columns {
    margin-bottom: 30px;
}
}
	
@media(max-width:768px){
.anim-logo {
    width: 100px;
    height: 100px;
}
	}
	
	@media(max-width:767px){
	.scheduletabs .nav-tabs > li {
    width: 100%;
}
.sub-header1 {
    margin-top: 134px;
}
}
@media(max-width:480px){
.anim-logo {
    width: 60px;
    height: 60px;
}

.tp-mask-wrap #slide-1-layer-10 {
    font-size: 12px !important;
    margin-top: 12px !important;
}
.tp-mask-wrap .cont {
    margin-top: 10px !important;
}
.simple-column.log-description {
    width: 92%;
}
.simple-column.log-description p {
    font-size: 12px;
	margin-bottom: 0;
}
}

@media(max-width:375px){
	.anim-logo {
    width: 45px;
    height: 45px;
}
	.tp-mask-wrap #slide-1-layer-10 {
    font-size: 10px !important;
    margin-top: 12px !important;
}
.simple-column.log-description {
    width: 90%;
}
.kode-register-detail-right ul.downcount li {
    width: 50px;
}
}