@font-face {
    font-family: 'icomoon';
    src:    url('svg-icon-2/icomoon.eot?xqq5wl');
    src:    url('svg-icon-2/icomoon.eot?xqq5wl#iefix') format('embedded-opentype'),
        url('svg-icon-2/icomoon.ttf?xqq5wl') format('truetype'),
        url('svg-icon-2/icomoon.woff?xqq5wl') format('woff'),
        url('svg-icon-2/icomoon.svg?xqq5wl#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-accesory46:before {
    content: "\e900";
}
.icon-air6:before {
    content: "\e901";
}
.icon-airplane68:before {
    content: "\e902";
}
.icon-airplane73:before {
    content: "\e903";
}
.icon-avatar19:before {
    content: "\e904";
}
.icon-avatar83:before {
    content: "\e905";
}
.icon-bank11:before {
    content: "\e906";
}
.icon-banking2:before {
    content: "\e907";
}
.icon-book227:before {
    content: "\e908";
}
.icon-briefcase50:before {
    content: "\e909";
}
.icon-briefcase61:before {
    content: "\e90a";
}
.icon-burger20:before {
    content: "\e90b";
}
.icon-bus26:before {
    content: "\e90c";
}
.icon-bus55:before {
    content: "\e90d";
}
.icon-businessman288:before {
    content: "\e90e";
}
.icon-camera3:before {
    content: "\e90f";
}
.icon-car166:before {
    content: "\e910";
}
.icon-car179:before {
    content: "\e911";
}
.icon-check70:before {
    content: "\e912";
}
.icon-check-box:before {
    content: "\e913";
}
.icon-clinic2:before {
    content: "\e914";
}
.icon-clock96:before {
    content: "\e915";
}
.icon-communication34:before {
    content: "\e916";
}
.icon-computer184:before {
    content: "\e917";
}
.icon-cube10:before {
    content: "\e918";
}
.icon-cube12:before {
    content: "\e919";
}
.icon-cube32:before {
    content: "\e91a";
}
.icon-delivery13:before {
    content: "\e91b";
}
.icon-delivery55:before {
    content: "\e91c";
}
.icon-dollar179:before {
    content: "\e91d";
}
.icon-drink76:before {
    content: "\e91e";
}
.icon-earth186:before {
    content: "\e91f";
}
.icon-earth190:before {
    content: "\e920";
}
.icon-edit45:before {
    content: "\e921";
}
.icon-emblem:before {
    content: "\e922";
}
.icon-fastfood47:before {
    content: "\e923";
}
.icon-favorite21:before {
    content: "\e924";
}
.icon-file148:before {
    content: "\e925";
}
.icon-flag10:before {
    content: "\e926";
}
.icon-flag102:before {
    content: "\e927";
}
.icon-folder265:before {
    content: "\e928";
}
.icon-fried3:before {
    content: "\e929";
}
.icon-geometry109:before {
    content: "\e92a";
}
.icon-global45:before {
    content: "\e92b";
}
.icon-group14:before {
    content: "\e92c";
}
.icon-healthclinic2:before {
    content: "\e92d";
}
.icon-heart8:before {
    content: "\e92e";
}
.icon-heart296:before {
    content: "\e92f";
}
.icon-home4:before {
    content: "\e930";
}
.icon-home168:before {
    content: "\e931";
}
.icon-hot51:before {
    content: "\e932";
}
.icon-hotdrink2:before {
    content: "\e933";
}
.icon-html4:before {
    content: "\e934";
}
.icon-label36:before {
    content: "\e935";
}
.icon-labels2:before {
    content: "\e936";
}
.icon-lamp26:before {
    content: "\e937";
}
.icon-leaf32:before {
    content: "\e938";
}
.icon-location38:before {
    content: "\e939";
}
.icon-logotype48:before {
    content: "\e93a";
}
.icon-maleuser:before {
    content: "\e93b";
}
.icon-money131:before {
    content: "\e93c";
}
.icon-monitor102:before {
    content: "\e93d";
}
.icon-mouse49:before {
    content: "\e93e";
}
.icon-multiple25:before {
    content: "\e93f";
}
.icon-package8:before {
    content: "\e940";
}
.icon-pencil43:before {
    content: "\e941";
}
.icon-pencil54:before {
    content: "\e942";
}
.icon-photograph15:before {
    content: "\e943";
}
.icon-place4:before {
    content: "\e944";
}
.icon-plate17:before {
    content: "\e945";
}
.icon-portfolio2:before {
    content: "\e946";
}
.icon-profile6:before {
    content: "\e947";
}
.icon-scale1:before {
    content: "\e948";
}
.icon-shopping232:before {
    content: "\e949";
}
.icon-smiling36:before {
    content: "\e94a";
}
.icon-speaker122:before {
    content: "\e94b";
}
.icon-speedometer3:before {
    content: "\e94c";
}
.icon-star178:before {
    content: "\e94d";
}
.icon-stickman142:before {
    content: "\e94e";
}
.icon-suitcase57:before {
    content: "\e94f";
}
.icon-tags9:before {
    content: "\e950";
}
.icon-target76:before {
    content: "\e951";
}
.icon-tea24:before {
    content: "\e952";
}
.icon-thumb36:before {
    content: "\e953";
}
.icon-tools6:before {
    content: "\e954";
}
.icon-train20:before {
    content: "\e955";
}
.icon-transport1065:before {
    content: "\e956";
}
.icon-travel25:before {
    content: "\e957";
}
.icon-trophy4:before {
    content: "\e958";
}
.icon-trophy42:before {
    content: "\e959";
}
.icon-truck77:before {
    content: "\e95a";
}
.icon-user15:before {
    content: "\e95b";
}
.icon-wallet28:before {
    content: "\e95c";
}
.icon-waving:before {
    content: "\e95d";
}
.icon-working1:before {
    content: "\e95e";
}
.icon-world91:before {
    content: "\e95f";
}
.icon-write12:before {
    content: "\e960";
}

