/* Widget Search */
.widget-search .kode-search input[type="text"] {
	border: 1px solid #e6e6e6;
	height: 40px !important;
	padding: 4px 65px 4px 10px;
	border-radius: 0px;
	font-weight: normal;
	color: #666;
	text-transform: inherit;
	width: 100%;
}
.kode-sidebar .kode-search::after, .kode-sidebar .kode-search::before {
	display: none;
}
.widget-search input[type="submit"] {
	padding: 0px;
}
.kode-search {
	float: left;
	width: 100%;
	position: relative;
}
.kode-search label {
	position: absolute;
	right: 0px;
	top: 0px;
	margin: 0px;
	height: 100%;
	padding: 9px 20px;
	background: #999;
	cursor: pointer;
}
.kode-search label:hover {
	background-color: #000;
}
.kode-search label:before {
	content: "\f002";
	font-family: 'FontAwesome';
	color: #fff;
}
.tagcloud a {
	float: left;
	padding: 7px 15px 7px 24px;
	color: #fff;
	margin: 0px 6px 6px 0px;
	text-transform: uppercase;
	font-size: 12px !important;
	position: relative;
	border-radius: 3px;
}
.tagcloud a:before {
	content: "";
	height: 6px;
	width: 6px;
	border-radius: 100%;
	background-color: #fff;
	position: absolute;
	left: 10px;
	top: 50%;
	margin-top: -3px;
}
.
.tagcloud a:hover {
	background-color: #000;
	color: #ffffff;
}
.kode-sidebar.kode-left-sidebar .kode-widget, .kode-sidebar.kode-right-sidebar .kode-widget {
	margin-bottom: 30px;
	float: left;
	width: 100%;
	padding: 0px
}
.flickr_badge_image {
	float: left;
	margin: 0 3.0% 3% 0;
	width: 30%
}
.kode-right-sidebar .flickr_badge_image, .kode-sidebar-element .flickr_badge_image {
	width: 30%
}
.flickr_badge_image img {
	margin: 0px;
	float: left;
	width: 100%;
}
.flickr_badge_image a {
	float: left;
	width: 100%;
}
/*--// Twitter Widget CSS Starts //--*/
.widget_theevent_twitter_widget .widget-title{
	color:#fff;
}
.widget_kode_twitter_widget .twitter-widget {
	list-style: none;
	margin: 0px;
	height: 250px;
}
.twitter-widget li:last-child {
	margin: 0px;
}
.twitter-widget li {
	margin: 0px 0px 10px 0px;
	padding: 0 0 15px 30px;
	position: relative;
}
.twitter-widget li:before {
	content: "\f099";
	position: absolute;
	left: 0px;
	top: 0px;
	font-size: 20px;
	color: #13d5ec;
	font-family: FontAwesome;
}
.twitter-widget .kode-twitter-text, .twitter-widget p {
	color: #aaaaaa;
	margin: 0px 0px 4px 0px;
}
.twitter-widget p a {
	color: #ffffff;
}
.twitter-widget div.kode-twitter-time {
	color: #ffffff;
	text-transform: capitalize;
}
.twitter-widget i {
	color: #767676;
	margin-right: 6px;
}
/* RecentPost */
.widget-recentpost ul li {
	float: left;
	width: 100%;
	list-style: none;
	border-bottom: 1px solid rgba(255,255,255,0.2);
	margin-bottom: 15px;
	padding-bottom: 15px;
}
.widget-recentpost ul li p {
	margin-bottom: 0px;
}
.widget-recentpost ul li .datetime {
	border: 2px solid #e2e2e2;
	width: 56px;
	height: 56px;
	float: left;
	color: #999;
	border-radius: 100%;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;
	padding: 5px 0px 0px 0px;
	margin: 3px 0px 0px 0px;
}
.widget-recentpost ul li:hover .datetime {
	color: #fff;
}
.widget-recentpost ul li .datetime span {
	font-size: 14px;
	display: block;
	line-height: 0.6;
}
.widget-recentpost ul li p {
	font-size: 13px;
	line-height: 20px;
}
.widget-recentpost ul li .datetime ~ p {
	padding: 0px 0px 0px 76px;
}
/* Gallery Widget */
.widget-gallery ul {
	margin: 0px 0px 0px -10px;
}
.widget-gallery ul li {
	list-style: none;
	float: left;
	width: 33.333%;
	padding: 0px 0px 10px 10px;
}
.widget-gallery ul li:hover img {
	opacity: 0.4;
}
.widget-gallery ul li a, .widget-gallery ul li a img {
	float: left;
	width: 100%;
}
/* Categories */
.widget_categories li li:last-child, .widget_nav_menu li li:last-child, .widget_pages li li:last-child {
	border-bottom: 0;
	padding-bottom: 0;
}
.widget_categories ul li {
	float: left;
	width: 100%;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	padding: 8px 0 9px;
	list-style: none;
	text-align: right;
	color:#999;
	margin:0px;
}
.widget_categories ul li:hover {
	padding-left: 15px;
	padding-right: 15px;
}
.widget_categories ul li a {
	float: left;
	margin:0px;
	text-transform:capitalize;
}




.widget_categories ul li a:before {
	content: "\f105";
	font-family: FontAwesome;
	float: left;
	margin: 0px 10px 0px 0px;
	color: #fff;
}
.kode-widget.kode-sidebar-element .widget_archive ul li a:before,
.kode-sidebar.kode-right-sidebar .widget_archive ul li a:before,
.kode-sidebar.kode-left-sidebar .widget_archive ul li a:before,
.kode-sidebar.kode-left-sidebar .widget_categories ul li a:before,
.kode-sidebar.kode-right-sidebar .widget_categories ul li a:before,
.kode-widget.kode-sidebar-element .widget_categories ul li a:before{
	color:#333;
}
.widget_categories ul li:hover a, .widget_categories ul li:hover a:before, .widget_categories ul li:hover {
	color: #ffffff;
}
.widget_categories ul li:hover a:before, .widget_categories ul li:hover a:before, .widget_categories ul li:hover a:before{
	color: #fff !important;
}
.widget_em_locations_widget > ul > li {
    background: #f9f9f9 none repeat scroll 0 0;
    float: left;
    padding: 15px;
    width: 100%;
}
.widget_em_locations_widget ul ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.widget_em_locations_widget ul li li {
    float: left;
}
/* CALENDER*/
.widget_calendar {
}
.widget_calendar table{
	background-color:#ef4a2b;
	border-collapse:collapse;
}

.widget_calendar table tr td {
	padding: 10px 5px;
	text-align: center;
	border-color:rgba(255,255,255,0.5);

	color:#fff;
}
.widget_calendar table tr td a{
	color:#fff;

}

.widget_calendar table tr td:hover {
	color: #fff;
}
.widget_calendar table td.pad:hover {
	background: none;
}
.widget_calendar table thead{
	background-color:#000;
}
.widget_calendar table thead th {
	padding: 10px 5px;
	text-align: center;
	color: #fff;
	font-weight:bold;
}
.widget_calendar caption {
	font-size: 20px;
	text-align: center;
	padding: 10px 10px;
	text-transform: uppercase;
	color:#fff;
}
/* PAGES*/
.widget_pages {
}
.widget_pages ul, .widget_recent_entries ul, .widget_nav_menu ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.widget_pages ul ul, .widget_nav_menu ul ul {
	padding-left: 20px;
	margin: 5px 0px 0px 0px;
}
.widget_pages ul li, .widget_recent_entries ul li, .widget_nav_menu ul li {
	float: left;
	width: 100%;
	margin:0px;
}
.widget_nav_menu ul li, .widget_nav_menu ul ul li:first-child {
	border-top: dotted 1px #ccc;
}
.widget_nav_menu ul li:first-child {
	border: none;
}
.widget_pages ul li a, .widget_recent_entries ul li a, .widget_nav_menu ul li a {
	display: block;
	padding: 8px 15px;
	position: relative;	
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
	color:#fff;
}
.widget_pages ul li:hover > a, .widget_recent_entries ul li:hover a, .widget_nav_menu ul li:hover > a {
	padding: 8px 15px 8px 30px;
	color: #fff;
}
.widget_pages ul li:hover > a:before, .widget_recent_entries ul li:hover a:before, .widget_nav_menu ul li:hover > a:before{
	padding:0px 15px;
} 
.widget_pages ul li a:before, .widget_recent_entries ul li a:before, .widget_nav_menu ul li a:before {
	content: "\f0da";
	position: absolute;
	left: 0px;
	top: 50%;
	font-size: 14px;
	color: #333;
	font-family: FontAwesome;
	margin-top: -9px;
}
/* META WIDGET*/
.widget_meta {
}
.widget_meta ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	float: left;
	width: 100%;
}
.widget_meta ul li {
	float: left;
	width: 100%;
	border-top: dotted 1px #999;
}
.widget_meta ul li:first-child {
	border: none;
}
.widget_meta ul li a {
	display: block;
	padding: 8px 0px;
}
.widget_meta ul li a:hover {
	padding: 8px 8px;
	color: #fff;
}
/* RECENT COMMENTS*/
.widget_recent_comments {
}
.widget_recent_comments ul {
	float: left;
	width: 100%;
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.widget_recent_comments ul li {
	float: left;
	width: 100%;
	padding: 3px 0px;
	border-top: solid 1px #CCC;
	font-size: 14px;
}
footer .widget_recent_comments ul li{
	color:#666;
}
footer .widget_recent_comments ul li .comment-author-link{
	color:#fff;
}
.widget_recent_comments ul li .comment-author-link a {
	text-transform: uppercase;
	padding: 3px 5px;
	border-radius: 3px;
	color: #000;
	margin: 5px 0px 5px 0px;
	display: inline-block;
}
footer .widget_recent_comments ul li .comment-author-link a{
	color: #fff;
}
/* RSS WIDGET*/
.widget_rss {
}
.widget_rss ul {
	list-style: none;
	margin: 0px;
	float: left;
	width: 100%;
}
.widget_rss ul li {
	float: left;
	width: 100%;
	margin-top: 10px;
	padding-top: 10px;
	color:#fff;
	border-top: solid 1px #ccc;
	color:#666;
}

.widget_rss ul li .rssSummary{
	color:#666
}
.widget_rss ul li:first-child {
	padding: 0px;
	margin: 0px;
	border: none;
}
.widget_rss ul li a.rsswidget {
	font-weight:bold;
}
.widget_rss ul li a.rss-date {
	margin-left: 10px;
}
/* TEXT WIDGET*/
.widget_text {
}
.widget_text img {
	padding: 10px;
	float: left;
	width: 100%;
	border: solid 1px #CCC;
	margin: 0px 0px 10px 0px;
}
.widget_text img:hover {
}
.widget_text strong {
	margin-bottom: 10px;
}





/*FLICKR GALLERY*/
.widget_kode_flickr_widget {
}
.widget_kode_flickr_widget a {
	display: block;
	position: relative;
	float: left;
}
.widget_kode_flickr_widget a:before {
	content: "\f067";
	position: absolute;
	left: 0px;
	top: 50%;
	width: 100%;
	text-align: center;
	margin-top: -9px;
	color: #fff;
	font-family: FontAwesome;
	opacity: 0;
	font-size: 20px;
	line-height: 20px;
	z-index: 10;
}
.widget_kode_flickr_widget a:hover:before {
	opacity: 1;
}
.widget_kode_flickr_widget a:after {
	content: "";
	position: absolute;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 100%;
	opacity: 0;
}
.widget_kode_flickr_widget a:hover:after {
	opacity: 0.7
}
.widget_kode_flickr_widget img {
	width: 100%;
	height: auto;
}
/*UPCOMING EVENT*/
.widget_em_widget {
}
.widget_em_widget ul {
	float: left;
	width: 100%;
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.widget_em_widget ul li {
	font-size: 14px;
	font-weight: normal;
}
.widget_em_widget ul li a {
	display: block;
	clear: both;
	padding: 5px 8px;
	color: #333;
	background-color: #efeeee;
}
.widget_em_widget ul ul li a {
	background-color: transparent;
}
.widget_em_widget ul ul li {
	font-size: 12px;
	padding: 5px 0px;
	list-style-position: inside;
}
.widget_em_widget ul ul {
	padding: 5px 0px 5px 20px;
	list-style: decimal;
}
/*.widget_product_categories{
}
.widget_product_categories ul{
	list-style:none;
	margin:0px;
	padding:0px;
	float:left;
	width:100%
}*/

/*CSS TRANSITION*/


.kode-sidebar-element [class*="col-md-"] {
	padding: 0px;
	width: 100%;
	float:left;
}
/*WOOCOMMERCE PRODUCTS*/

.woocommerce-content {
	float: left;
	width: 100%;
}
.woocommerce-content ul.products {
	list-style: none;
	margin: 0px 0px 0px -1.6%;
	padding: 0px;
}
.woocommerce-content ul.products li {
	display: inline-block;
	width: 23%;
	margin: 0px 0px 2% 1.7%;
	vertical-align: top;
	padding: 10px 10px 20px 10px;
	border: solid 1px rgba(0,0,0,0.2);
	background-color: #fff;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	text-align: center;
	position: relative;
	overflow: hidden;
}
.woocommerce ul.products li img {
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}
.woocommerce ul.products li:hover img {
	opacity: 0.5;
}
.woocommerce-content ul.products li:hover {
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}
.woocommerce-content ul.products .star-rating {
	position: absolute;
	top: 20px;
	left: 20px;
}
.woocommerce-content ul.products li .added_to_cart {
	background: red none repeat scroll 0 0;
	color: #fff;
	display: inline-block;
	font-size: 12px;
	padding: 39px 40px 10px;
	position: absolute;
	right: -50px;
	text-transform: uppercase;
	top: -10px;
	transform: rotate(45deg);
	white-space: nowrap;
}
.woocommerce ul.products li.product h3 {
	font-size: 18px;
	margin: 0px 0px 5px 0px;
	text-transform: uppercase;
}
.woocommerce ul.products li .button:hover {
	background-color: #000 !important;
}
.woocommerce .star-rating span::before {
	color: #ffc000
}
.woocommerce ul.products li.product span.onsale {
	height: 50px;
	width: 50px;
	z-index: 10;
	right: 10px;
	top: 10px;
	left: auto;
	background-color: red;
}
.woocommerce div.product div.images {
	float: left;
	width: 30%;
	margin: 0px 0px 20px 0px;
}
.woocommerce div.product div.images div.thumbnails {
	margin: 20px -5px 0px -5px;
}
.woocommerce div.product div.images div.thumbnails a.zoom {
	float: left;
	width: 33.333%;
	padding: 0px 5px 0px 5px;
}
.woocommerce div.product div.summary {
	float: left;
	margin-bottom: 20px;
	width: 70%;
	padding: 0px 0px 0px 30px;
}
.woocommerce-tabs {
	float: left;
	width: 100%;
}
.woocommerce-content-item .related {
	float: left;
	width: 100%;
}
.woocommerce-ordering {
	float: right;
	width: 25%;
	margin: 0px 0px 20px 0px;
}
.woocommerce-result-count {
	float: left;
}
div.wpcf7-validation-errors {
	width: 100%;
	float: left;
}
/* Category */
.widget_archive ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	float: left;
	width: 100%;
}
.widget_archive ul li {
	float: left;
	width: 100%;
	text-align: right;
	padding: 10px 10px 10px 20px;
	border-bottom: 1px solid #e3e3e3;
	position: relative;
	color:#999
}
.widget_archive ul li:hover {
	padding: 10px 10px 10px 25px
}
.widget_archive ul li a {
	float: left;
	text-transform: uppercase;
	display: block;
}
.widget_archive ul li:hover a, .widget_archive ul li:hover, .widget_archive ul li:hover a:before {
	color: #fff !important;
}
.widget_archive ul li a:before {
	content: "\f105";
	font-family: FontAwesome;
	font-size: 14px;
	color: #fff;
	position: absolute;
	left: 0px;
	top: 50%;
	margin-top: -10px;
}
.widget_archive ul li:hover a:before {
	left: 10px;
}


/* FOOTER WIDGETS*/
footer .widget_calendar caption {
	color: #CCC;
	padding: 5px 0px;
}
footer .widget_calendar #calendar_wrap {
	background-color: #111;
}
footer .widget_archive select, footer .widget_categories select, footer .widget_text select, footer .widget_search input[type='text'] {
	background-color: #111;
	border: solid 1px #333;
}
footer .kode-search label:before {
	color: #fff;
}
footer .widget_pages ul li a:before, footer .widget_recent_entries ul li a:before, footer .widget_nav_menu ul li a:before, footer .widget_pages ul li a, footer .widget_recent_entries ul li a, footer .widget_nav_menu ul li a {
	color: #CCC;
}
footer .widget_pages ul li a:hover, footer .widget_recent_entries ul li a:hover, footer .widget_nav_menu ul li a:hover {
	color: #fff;
}
footer .widget_recent_comments ul li, footer .widget_meta ul li, footer .widget_rss ul li, footer .widget_nav_menu ul li, footer .widget_archive ul li, footer .widget_categories ul li {
	border-color: rgba(255,255,255,0.15);
}
footer label {
	color: #ccc;
}
footer .widget_rss ul li, footer .widget_categories ul li a:before, footer .widget_categories ul li a {
	color: #fff
}





.widget_archive ul li a, .widget_archive ul li, .widget_archive ul li a:before, .widget_calendar table tr td, .widget_categories ul li a, .widget_categories ul li, .widget_categories ul li a:before, .widget_pages ul li a, .widget_pages ul li a:before, .widget_meta ul li a, .widget_recent_entries ul li a:before, .widget_recent_entries ul li a, .tagcloud a, .widget_nav_menu ul li a:before, .widget_nav_menu ul li a, .widget_nav_menu ul li, .comment-form input[type="submit"], #kodecomments ul li .text a.comment-reply-link, .kode-search label, .widget-recentpost ul li .datetime, .kode-blog-list figcaption .datetime, .woocommerce .cart .button, .woocommerce .cart input.button, .widget_kode_flickr_widget a:after {
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}
.widget_categories.kode-widget ul{
	padding:0px;
	margin:0px;
}
.kf_aside_folwer{
	padding:0px;
	margin-left:0px;
	list-style:none;
}
.ticket-column,
.kode-tickets-title{
	list-style:none;
	margin:0px;
	padding:0px;
}
/*Widgets 3 Style*/
.kode_widgt_event ul li{
	float:left;
	width:100%;
	padding:5px 0px;	
}
.kode_widgt_event ul li figure{
	width:58px;
	position:relative;
	float:left;
}
.kode_widgt_event ul li figure::after{
	content:"";
	position:absolute;
	left:0px;
	bottom:0px;
	width:100%;
	height:4px;
}
.kode_widgt_event ul li figure img{
	width:100%;
	height:auto;	
}
.kode_foo_event_des{
	float:none;
	padding:0px 0px 0px 75px;	
}
.kode_foo_event_des a{
	color:#fff;
	display:block;
	font-size:13px;
	margin-bottom:10px;
	line-height:22px;	
}
.kode_foo_event_des span{
	display:block;
	font-size:13px;
	color:#8e8e8e;	
}
.kode_widgt_event ul li:first-child{
	padding-top:0px;	
}
.kode-widget.kode-right-sidebar .kode_foo_event_des a,
.kode-widget.kode-left-sidebar .kode_foo_event_des a,
.kode-widget.kode-sidebar-element .kode_foo_event_des a{
	color:#333;
}
.kode_widgt_event.widget_hdg ul li{
	list-style:none;
}
.kode-sidebar .kode_foo_event_des a{
	color:#666;
}
.kode-sidebar .kf_aside_twitter .kode-twitter-text a{
	color:#fff;
}
.kode-breadcrumb strong{color:#fff;}
.header-sticky .kf_sticky .logo,.header-sticky  .kf_sticky,.header-sticky  .kf_sticky .navbar-nav > li,.header-sticky  .kf_sticky .kd-search{
		-webkit-transition: all 0.4s ease-in-out;
	   -moz-transition: all 0.4s ease-in-out;
	    -ms-transition: all 0.4s ease-in-out;
	     -o-transition: all 0.4s ease-in-out;
	        transition: all 0.4s ease-in-out;
}

.header-sticky  #kode-header.kf_sticky,
.header-sticky  .kf_sticky{
	position:fixed;
	top:0px;
	background:#111;
	left:0px;
	z-index:999999;
}
.header-sticky  #kode-header.kf_sticky{
	border-bottom:1px solid #333;
}