@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?uocfnf');
	src:url('fonts/icomoon.eot?uocfnf#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf?uocfnf') format('truetype'),
		url('fonts/icomoon.woff?uocfnf') format('woff'),
		url('fonts/icomoon.svg?uocfnf#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-add52:before {
	content: "\e900";
}
.icon-agreement2:before {
	content: "\e901";
}
.icon-balance15:before {
	content: "\e902";
}
.icon-book115:before {
	content: "\e903";
}
.icon-books71:before {
	content: "\e904";
}
.icon-briefcase13:before {
	content: "\e905";
}
.icon-building104:before {
	content: "\e906";
}
.icon-building160:before {
	content: "\e907";
}
.icon-businessman277:before {
	content: "\e908";
}
.icon-cat19:before {
	content: "\e909";
}
.icon-chick2:before {
	content: "\e90a";
}
.icon-child13:before {
	content: "\e90b";
}
.icon-columbidae:before {
	content: "\e90c";
}
.icon-comments16:before {
	content: "\e90d";
}
.icon-communication1:before {
	content: "\e90e";
}
.icon-creative8:before {
	content: "\e90f";
}
.icon-cubes9:before {
	content: "\e910";
}
.icon-dog56:before {
	content: "\e911";
}
.icon-dog62:before {
	content: "\e912";
}
.icon-dog111:before {
	content: "\e913";
}
.icon-dogs20:before {
	content: "\e914";
}
.icon-drawing8:before {
	content: "\e915";
}
.icon-duckling:before {
	content: "\e916";
}
.icon-email174:before {
	content: "\e917";
}
.icon-family29:before {
	content: "\e918";
}
.icon-file94:before {
	content: "\e919";
}
.icon-finance-and-business4:before {
	content: "\e91a";
}
.icon-graphicseditor8:before {
	content: "\e91b";
}
.icon-group2:before {
	content: "\e91c";
}
.icon-handcuffs1:before {
	content: "\e91d";
}
.icon-hand-gesture1:before {
	content: "\e91e";
}
.icon-horse125:before {
	content: "\e91f";
}
.icon-hospital35:before {
	content: "\e920";
}
.icon-injured:before {
	content: "\e921";
}
.icon-inspiration:before {
	content: "\e922";
}
.icon-international12:before {
	content: "\e923";
}
.icon-judge1:before {
	content: "\e924";
}
.icon-justice4:before {
	content: "\e925";
}
.icon-libra1:before {
	content: "\e926";
}
.icon-liquid15:before {
	content: "\e927";
}
.icon-location74:before {
	content: "\e928";
}
.icon-loudspeaker27:before {
	content: "\e929";
}
.icon-magnifier13:before {
	content: "\e92a";
}
.icon-magnifyingglass60:before {
	content: "\e92b";
}
.icon-man161:before {
	content: "\e92c";
}
.icon-management4:before {
	content: "\e92d";
}
.icon-medal45:before {
	content: "\e92e";
}
.icon-parrot:before {
	content: "\e92f";
}
.icon-pet25:before {
	content: "\e930";
}
.icon-pet27:before {
	content: "\e931";
}
.icon-phonecall9:before {
	content: "\e932";
}
.icon-placeholder87:before {
	content: "\e933";
}
.icon-police22:before {
	content: "\e934";
}
.icon-progress:before {
	content: "\e935";
}
.icon-protection3:before {
	content: "\e936";
}
.icon-rabbit5:before {
	content: "\e937";
}
.icon-satellitedish:before {
	content: "\e938";
}
.icon-share53:before {
	content: "\e939";
}
.icon-squirrel2:before {
	content: "\e93a";
}
.icon-telephone51:before {
	content: "\e93b";
}
.icon-terrorist:before {
	content: "\e93c";
}
.icon-tool801:before {
	content: "\e93d";
}
.icon-veterinarian:before {
	content: "\e93e";
}