/*
 Theme Name:   techindustan-verion Wordpress Child
 Theme URI:    http://agiledevelopers.in/VerionGroupNew/techindustan-verion
 Description:  http://agiledevelopers.in/VerionGroupNew/
 Author:       KodeForest
 Author URI:   http://kodeforest.com
 Template:     techindustan-verion
 Version:      1.5
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  techindustan-verion-child
*/


.kode-logo {
  max-width: 200px!important;
}
.kode-nav {
    width: 62%;
}
.footer-copyright p {
    font-size: 15px;
}
.anim-logo {
    background: #f1f1f1;
    padding: 2px;
    margin: 0 auto;
    float: left;
    border-radius: 80px;
    width: 161px;
    height: 161px;
}
blockquote {
  padding: 35px 20px 30px !important;
}
.member-name {
  color: #000;
  font-size: 20px;
  font-weight: 500;
  line-height: 35px;
  padding: 0 0 27px;
  text-align: center;
}
.teamshowcase-image-bg {
  background: #ffffff none repeat scroll 0 0;
  height: 220px;
  line-height: 0;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.teamshowcase-image-bg img {
  border-radius: 100%;
  height: 220px;
  margin: 0 auto !important;
  opacity: 1;
  position: absolute;
  width: 220px !important;
}
.postid-197 h4 {
  font-size: 26px;
}
.clints-brand {
  height: 136px !important;
  padding: 28px 0 !important;
}
.kode-background-image .columns {
    text-align: center;
}
.kode-background-image .simple-column {
    display: inline-block;
    width: 54%;
}
